In [3]:
import warnings
warnings.filterwarnings('ignore')

<h1>Webinar Structure</h1>
<ol> 
    <li>Join operators</li>
    <li>Set Theory</li>
    <li>Views</li>
    <li>Common Table Expressions (CTEs)</li>
</ol>

<h2>Database structure</h2>

<img src="../media/db_structure.jpg" width="500"/>

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%%sql
sqlite:///chinook.db

In [7]:
#%%sql
#SELECT * FROM albums

<h2>1. Join Operators</h2>

<h3>1.1 Inner Join</h3>
<img src="../media/inner_join.png" width="500"/>

In [8]:
#%%sql
#SELECT Title, AlbumId, artists.ArtistId, albums.ArtistId, Name FROM 
#albums INNER JOIN artists ON albums.ArtistID = artists.ArtistID

<h3>1.2. Left Join</h3>
<img src="../media/left_join.png" width="500"/>

In [9]:
#%%sql 
#SELECT artists.Name, artists.ArtistID, AlbumId, Title  
#FROM artists LEFT JOIN albums ON albums.ArtistId = artists.ArtistID

In [10]:
#%%sql
#SELECT artists.Name, artists.ArtistId, AlbumId, Title FROM artists
#LEFT JOIN albums ON albums.ArtistID = artists.ArtistID

<h3>1.3 Outer Join</h3>
<img src="../media/outer_join.png" width="500"/>

In [12]:
#%%sql

#SELECT artists.Name, artists.ArtistId, AlbumId, Title
#FROM artists LEFT JOIN albums ON albums.ArtistID = artists.ArtistID

#UNION 

#SELECT artists.Name, artists.ArtistId, AlbumId, Title
#FROM albums LEFT JOIN artists ON albums.ArtistID = artists.ArtistID

#LIMIT 100;  -- Remove this line to see the full query output

<h3>1.4. Cross Join</h3>
<img src="../media/cross_join.png" width="500"/>

In [13]:
#%%sql
#SELECT * FROM media_types 
#CROSS JOIN genres;

In [14]:
#%%sql
#SELECT g.Name AS "Genre", m.Name AS "Media Type"
#FROM genres AS g
#CROSS JOIN media_types AS m
#LIMIT 10;  -- Remove this line to see the full query output

<h3>Join operators</h3>
<ul>
    <li>Inner Join</li>
    <li>Left/Right Join</li>
    <li>Outer Join</li>
    <li>Cross Join</li>
    </ul>

<h2>2. Set Theory</h2>

<img src="../media/Northwind_ERD.png" width="500"/>

In [18]:
%%sql

sqlite:///Northwind_small.sqlite

<h3>2.0. Set Operator Rules</h3>

<ul>
    <li>The number of columns in both tables needs to be equal.</li>
    <li>The columns from each table that we want to combine must contain compatible datatypes.</li>
    <li>We can only apply the ORDER BY clause to the combined (i.e. UNIONised) table and not to the individual tables</li>
    <li>The GROUP BY clause can only be applied the individual tables (i.e. before the UNION operation) and not the combined result</li>
</ul>

<h2>2.1. Union Operator</h2>

<img src="../media/set_union.png" width="500"/>

In [22]:
#%%sql
#SELECT ID, address, region, country, ContactTitle, ContactName  FROM Customer
#LIMIT 3

In [23]:
#%%sql
#SELECT ID, address, region, country, ContactTitle, ContactName  FROM Supplier
#LIMIT 3

In [21]:
#%%sql
#SELECT ID, address, region, country, ContactTitle, ContactName  FROM Customer
#UNION
#SELECT ID, address, region, country, ContactTitle, ContactName FROM Supplier
#LIMIT 100; -- Remove this line to see the full query output

 * sqlite:///Northwind_small.sqlite
   sqlite:///chinook.db
Done.

[(1, '49 Gilbert St.', 'British Isles', 'UK', 'Purchasing Manager', 'Charlotte Cooper'),
 (2, 'P.O. Box 78934', 'North America', 'USA', 'Order Administrator', 'Shelley Burke'),
 (3, '707 Oxford Rd.', 'North America', 'USA', 'Sales Representative', 'Regina Murphy'),
 (4, '9-8 Sekimai Musashino-shi', 'Eastern Asia', 'Japan', 'Marketing Manager', 'Yoshi Nagase'),
 (5, 'Calle del Rosal 4', 'Southern Europe', 'Spain', 'Export Administrator', 'Antonio del Valle Saavedra'),
 (6, '92 Setsuko Chuo-ku', 'Eastern Asia', 'Japan', 'Marketing Representative', 'Mayumi Ohno'),
 (7, '74 Rose St. Moonie Ponds', 'Victoria', 'Australia', 'Marketing Manager', 'Ian Devling'),
 (8, "29 King's Way", 'British Isles', 'UK', 'Sales Representative', 'Peter Wilson'),
 (9, 'Kaloadagatan 13', 'Northern Europe', 'Sweden', 'Sales Agent', 'Lars Peterson'),
 (10, 'Av. das Americanas 12.890', 'South America', 'Brazil', 'Marketing Manager', 'Carlos Diaz'),
 (11, 'Tiergartenstraße 5', 'Western Europe', 'Germany', 'Sales Manager', 'Petra Winkler'),
 (12, 'Bogenallee 51', 'Western Europe', 'Germany', 'International Marketing Mgr.', 'Martin Bein'),
 (13, 'Frahmredder 112a', 'Western Europe', 'Germany', 'Coordinator Foreign Markets', 'Sven Petersen'),
 (14, 'Viale Dante, 75', 'Southern Europe', 'Italy', 'Sales Representative', 'Elio Rossi'),
 (15, 'Hatlevegen 5', 'Scandinavia', 'Norway', 'Marketing Manager', 'Beate Vileid'),
 (16, '3400 - 8th Avenue Suite 210', 'North America', 'USA', 'Regional Account Rep.', 'Cheryl Saylor'),
 (17, 'Brovallavägen 231', 'Northern Europe', 'Sweden', 'Sales Representative', 'Michael Björn'),
 (18, '203, Rue des Francs-Bourgeois', 'Western Europe', 'France', 'Sales Manager', 'Guylène Nodier'),
 (19, 'Order Processing Dept. 2100 Paul Revere Blvd.', 'North America', 'USA', 'Wholesale Account Agent', 'Robb Merchant'),
 (20, '471 Serangoon Loop, Suite #402', 'South-East Asia', 'Singapore', 'Owner', 'Chandra Leka'),
 (21, 'Lyngbysild Fiskebakken 10', 'Northern Europe', 'Denmark', 'Sales Manager', 'Niels Petersen'),
 (22, 'Verkoop Rijnweg 22', 'Northern Europe', 'Netherlands', 'Accounting Manager', 'Dirk Luchte'),
 (23, 'Valtakatu 12', 'Scandinavia', 'Finland', 'Product Manager', 'Anne Heikkonen'),
 (24, "170 Prince Edward Parade Hunter's Hill", 'NSW', 'Australia', 'Sales Representative', 'Wendy Mackenzie'),
 (25, '2960 Rue St. Laurent', 'North America', 'Canada', 'Marketing Manager', 'Jean-Guy Lauzon'),
 (26, 'Via dei Gelsomini, 153', 'Southern Europe', 'Italy', 'Order Administrator', 'Giovanni Giudici'),
 (27, '22, rue H. Voiron', 'Western Europe', 'France', 'Sales Manager', 'Marie Delamare'),
 (28, 'Bat. B 3, rue des Alpes', 'Western Europe', 'France', 'Sales Representative', 'Eliane Noz'),
 (29, '148 rue Chasseur', 'North America', 'Canada', 'Accounting Manager', 'Chantal Goulet'),
 ('ALFKI', 'Obere Str. 57', 'Western Europe', 'Germany', 'Sales Representative', 'Maria Anders'),
 ('ANATR', 'Avda. de la Constitución 2222', 'Central America', 'Mexico', 'Owner', 'Ana Trujillo'),
 ('ANTON', 'Mataderos  2312', 'Central America', 'Mexico', 'Owner', 'Antonio Moreno'),
 ('AROUT', '120 Hanover Sq.', 'British Isles', 'UK', 'Sales Representative', 'Thomas Hardy'),
 ('BERGS', 'Berguvsvägen  8', 'Northern Europe', 'Sweden', 'Order Administrator', 'Christina Berglund'),
 ('BLAUS', 'Forsterstr. 57', 'Western Europe', 'Germany', 'Sales Representative', 'Hanna Moos'),
 ('BLONP', '24, place Kléber', 'Western Europe', 'France', 'Marketing Manager', 'Frédérique Citeaux'),
 ('BOLID', 'C/ Araquil, 67', 'Southern Europe', 'Spain', 'Owner', 'Martín Sommer'),
 ('BONAP', '12, rue des Bouchers', 'Western Europe', 'France', 'Owner', 'Laurence Lebihan'),
 ('BOTTM', '23 Tsawassen Blvd.', 'North America', 'Canada', 'Accounting Manager', 'Elizabeth Lincoln'),
 ('BSBEV', 'Fauntleroy Circus', 'British Isles', 'UK', 'Sales Representative', 'Victoria Ashworth'),
 ('CACTU', 'Cerrito 333', 'South America', 'Argentina', 'Sales Agent', 'Patricio Simpson'),
 ('CENTC', 'Sierras de Granada 9993', 'Central America', 'Mexico', 'Marketing Manager', 'Francisco Chang'),
 ('CHOPS', 'Hauptstr. 29', 'Western Europe', 'Switzerland', 'Owner', 'Yang Wang'),
 ('COMMI', 'Av. dos Lusíadas, 23', 'South America', 'Brazil', 'Sales Associate', 'Pedro Afonso'),
 ('CONSH', 'Berkeley Gardens 12  Brewery', 'British Isles', 'UK', 'Sales Representative', 'Elizabeth Brown'),
 ('DRACD', 'Walserweg 21', 'Western Europe', 'Germany', 'Order Administrator', 'Sven Ottlieb'),
 ('DUMON', '67, rue des Cinquante Otages', 'Western Europe', 'France', 'Owner', 'Janine Labrune'),
 ('EASTC', '35 King George', 'British Isles', 'UK', 'Sales Agent', 'Ann Devon'),
 ('ERNSH', 'Kirchgasse 6', 'Western Europe', 'Austria', 'Sales Manager', 'Roland Mendel'),
 ('FAMIA', 'Rua Orós, 92', 'South America', 'Brazil', 'Marketing Assistant', 'Aria Cruz'),
 ('FISSA', 'C/ Moralzarzal, 86', 'Southern Europe', 'Spain', 'Accounting Manager', 'Diego Roel'),
 ('FOLIG', '184, chaussée de Tournai', 'Western Europe', 'France', 'Assistant Sales Agent', 'Martine Rancé'),
 ('FOLKO', 'Åkergatan 24', 'Northern Europe', 'Sweden', 'Owner', 'Maria Larsson'),
 ('FRANK', 'Berliner Platz 43', 'Western Europe', 'Germany', 'Marketing Manager', 'Peter Franken'),
 ('FRANR', '54, rue Royale', 'Western Europe', 'France', 'Marketing Manager', 'Carine Schmitt'),
 ('FRANS', 'Via Monte Bianco 34', 'Southern Europe', 'Italy', 'Sales Representative', 'Paolo Accorti'),
 ('FURIB', 'Jardim das rosas n. 32', 'Southern Europe', 'Portugal', 'Sales Manager', 'Lino Rodriguez'),
 ('GALED', 'Rambla de Cataluña, 23', 'Southern Europe', 'Spain', 'Marketing Manager', 'Eduardo Saavedra'),
 ('GODOS', 'C/ Romero, 33', 'Southern Europe', 'Spain', 'Sales Manager', 'José Pedro Freyre'),
 ('GOURL', 'Av. Brasil, 442', 'South America', 'Brazil', 'Sales Associate', 'André Fonseca'),
 ('GREAL', '2732 Baker Blvd.', 'North America', 'USA', 'Marketing Manager', 'Howard Snyder'),
 ('GROSR', '5ª Ave. Los Palos Grandes', 'South America', 'Venezuela', 'Owner', 'Manuel Pereira'),
 ('HANAR', 'Rua do Paço, 67', 'South America', 'Brazil', 'Accounting Manager', 'Mario Pontes'),
 ('HILAA', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'South America', 'Venezuela', 'Sales Representative', 'Carlos Hernández'),
 ('HUNGC', 'City Center Plaza 516 Main St.', 'North America', 'USA', 'Sales Representative', 'Yoshi Latimer'),
 ('HUNGO', '8 Johnstown Road', 'British Isles', 'Ireland', 'Sales Associate', 'Patricia McKenna'),
 ('ISLAT', 'Garden House Crowther Way', 'British Isles', 'UK', 'Marketing Manager', 'Helen Bennett'),
 ('KOENE', 'Maubelstr. 90', 'Western Europe', 'Germany', 'Sales Associate', 'Philip Cramer'),
 ('LACOR', "67, avenue de l'Europe", 'Western Europe', 'France', 'Sales Representative', 'Daniel Tonini'),
 ('LAMAI', '1 rue Alsace-Lorraine', 'Western Europe', 'France', 'Sales Manager', 'Annette Roulet'),
 ('LAUGB', '1900 Oak St.', 'North America', 'Canada', 'Marketing Assistant', 'Yoshi Tannamuri'),
 ('LAZYK', '12 Orchestra Terrace', 'North America', 'USA', 'Marketing Manager', 'John Steel'),
 ('LEHMS', 'Magazinweg 7', 'Western Europe', 'Germany', 'Sales Representative', 'Renate Messner'),
 ('LETSS', '87 Polk St. Suite 5', 'North America', 'USA', 'Owner', 'Jaime Yorres'),
 ('LILAS', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'South America', 'Venezuela', 'Accounting Manager', 'Carlos González'),
 ('LINOD', 'Ave. 5 de Mayo Porlamar', 'South America', 'Venezuela', 'Owner', 'Felipe Izquierdo'),
 ('LONEP', '89 Chiaroscuro Rd.', 'North America', 'USA', 'Sales Manager', 'Fran Wilson'),
 ('MAGAA', 'Via Ludovico il Moro 22', 'Southern Europe', 'Italy', 'Marketing Manager', 'Giovanni Rovelli'),
 ('MAISD', 'Rue Joseph-Bens 532', 'Western Europe', 'Belgium', 'Sales Agent', 'Catherine Dewey'),
 ('MEREP', '43 rue St. Laurent', 'North America', 'Canada', 'Marketing Assistant', 'Jean Fresnière'),
 ('MORGK', 'Heerstr. 22', 'Western Europe', 'Germany', 'Marketing Assistant', 'Alexander Feuer'),
 ('NORTS', 'South House 300 Queensbridge', 'British Isles', 'UK', 'Sales Associate', 'Simon Crowther'),
 ('OCEAN', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'South America', 'Argentina', 'Sales Agent', 'Yvonne Moncada'),
 ('OLDWO', '2743 Bering St.', 'North America', 'USA', 'Sales Representative', 'Rene Phillips'),
 ('OTTIK', 'Mehrheimerstr. 369', 'Western Europe', 'Germany', 'Owner', 'Henriette Pfalzheim'),
 ('PARIS', '265, boulevard Charonne', 'Western Europe', 'France', 'Owner', 'Marie Bertrand'),
 ('PERIC', 'Calle Dr. Jorge Cash 321', 'Central America', 'Mexico', 'Sales Representative', 'Guillermo Fernández'),
 ('PICCO', 'Geislweg 14', 'Western Europe', 'Austria', 'Sales Manager', 'Georg Pipps'),
 ('PRINI', 'Estrada da saúde n. 58', 'Southern Europe', 'Portugal', 'Sales Representative', 'Isabel de Castro'),
 ('QUEDE', 'Rua da Panificadora, 12', 'South America', 'Brazil', 'Accounting Manager', 'Bernardo Batista'),
 ('QUEEN', 'Alameda dos Canàrios, 891', 'South America', 'Brazil', 'Marketing Assistant', 'Lúcia Carvalho'),
 ('QUICK', 'Taucherstraße 10', 'Western Europe', 'Germany', 'Accounting Manager', 'Horst Kloss'),
 ('RANCH', 'Av. del Libertador 900', 'South America', 'Argentina', 'Sales Representative', 'Sergio Gutiérrez'),
 ('RATTC', '2817 Milton Dr.', 'North America', 'USA', 'Assistant Sales Representative', 'Paula Wilson'),
 ('REGGC', 'Strada Provinciale 124', 'Southern Europe', 'Italy', 'Sales Associate', 'Maurizio Moroni'),
 ('RICAR', 'Av. Copacabana, 267', 'South America', 'Brazil', 'Assistant Sales Agent', 'Janete Limeira'),
 ('RICSU', 'Grenzacherweg 237', 'Western Europe', 'Switzerland', 'Sales Manager', 'Michael Holz'),
 ('ROMEY', 'Gran Vía, 1', 'Southern Europe', 'Spain', 'Accounting Manager', 'Alejandra Camino'),
 ('SANTG', 'Erling Skakkes gate 78', 'Scandinavia', 'Norway', 'Owner', 'Jonas Bergulfsen'),
 ('SAVEA', '187 Suffolk Ln.', 'North America', 'USA', 'Sales Representative', 'Jose Pavarotti')]

<h2>2.2. Intersection Operator</h2>

<img src="../media/intersect.png" width="500"/>

In [24]:
#%%sql
#SELECT * FROM Employee

In [25]:
#%%sql
#SELECT Region, City
#FROM Employee

In [26]:
#%%sql
#SELECT Region, City
#FROM Customer

In [27]:
#%%sql

#SELECT Region, City
#FROM Customer

#INTERSECT

#SELECT Region, City
#FROM Employee

#ORDER BY City

<h2>2.3. Except Operator</h2>

<img src="../media/Except.png" width="500"/>

In [60]:
#%%sql

#SELECT CompanyName FROM Shipper LIMIT 5

 * sqlite:///Northwind_small.sqlite
   sqlite:///chinook.db
Done.

[('Speedy Express',), ('United Package',), ('Federal Shipping',)]

In [24]:
#%%sql
#SELECT CompanyName AS 'Company' FROM Supplier

#EXCEPT

#SELECT CompanyName FROM Shipper
#LIMIT 10; -- Remove this line to see the full query output

 * sqlite:///Northwind_small.sqlite
   sqlite:///chinook.db
Done.

[('Aux joyeux ecclésiastiques',),
 ('Bigfoot Breweries',),
 ("Cooperativa de Quesos 'Las Cabras'",),
 ('Escargots Nouveaux',),
 ('Exotic Liquids',),
 ('Formaggi Fortini s.r.l.',),
 ("Forêts d'érables",),
 ("G'day, Mate",),
 ('Gai pâturage',),
 ("Grandma Kelly's Homestead",)]

<h2>3. Views</h2>

A view in SQL is a virtual table that is based on the result set of a SQL query. It provides a way to encapsulate complex queries, simplifying data retrieval and enhancing security by limiting user access to specific rows and columns in a database

<br/><b>Syntax</b><br/>

<span style="color:blue">CREATE VIEW</span> view_name <span style="color:blue">AS</span> <br/>
<span style="color:blue">SELECT</span> column1, column2, ... <br/>
<span style="color:blue">FROM</span> table_name <br/>
<span style="color:blue">WHERE</span> condition;

<b>Database structure</b>
<img src="../media/sales_erd.png" width="500px"/>

In [34]:
%%sql
sqlite:///sales_db.db

<b>Problem 1</b><br/>
Create a view that will display all the invoices in the database, the name and surname of their owners, and the date of the invoice.

In [29]:
#%%sql
#DROP VIEW IF EXISTS Invoice_View;

#CREATE VIEW Invoice_View AS
#SELECT invoice_id AS 'InvoiceID', name, surname, date AS 'InvoiceDate'
#FROM invoice JOIN customer_list
#ON invoice.cust_id = customer_list.id;

<b>Problem 2: Create a view of all the purchased items in the database (including their quantity)</b>

In [30]:
#%%sql
#DROP VIEW IF EXISTS Purchased_Items_View;
#CREATE VIEW Purchased_Items_View AS
#SELECT prd_list.name AS 'ProductName', SUM(invoice_details.qty) AS 'ProductQty' FROM invoice_details JOIN prd_list ON
#invoice_details.prd_id = prd_list.id GROUP BY prd_list.name;

<h2>4. Common Table Expressions</h2>

A CTE is a temporary result, that is not stored in the database. It is only available <b>within the scope of the query</b>, when the query is executed. A <b>View</b> on the other hand is a virtual table that is <b>stored in the database</b> and available across multiple queries.

You can view a CTE has a temporary variable to <b>simplify the writing of a complex query</b>, with potential to optimise both readibility and efficiency.

<b>syntax</b>

<span style="color:blue">WITH</span> cte_name <span style="color:blue">AS</span> (<br/>
    <span style="color:blue">SELECT</span> column1, column2, ...<br/>
    <span style="color:blue">FROM</span> table_name <br/>
    <span style="color:blue">WHERE</span> condition<br/>
)<br/>
<span style="color:blue">SELECT</span> * <span style="color:blue">FROM</span> cte_name;<br/>

<b>Problem 1</b><br/>
Find the list of customers who made recent purchases

In [41]:
%%sql

SELECT c.id AS customer_id, c.name, c.surname, c.email
FROM customer_list c
WHERE c.id IN (
    SELECT inv.cust_id 
    FROM invoice inv 
    WHERE inv.date >= '2018-11-01'
);

   sqlite:///Northwind_small.sqlite
   sqlite:///chinook.db
 * sqlite:///sales_db.db
Done.

[(9, 'Retha', 'Eliza', 'Eliza2@yahoo.com'),
 (14, 'Vivian', 'Daryl', 'Daryl6@hotmail.com'),
 (35, 'Ibby', 'Rosamond', 'Ibby_Rosamond@yahoo.com'),
 (38, 'Avivah', 'Shayne', 'Avivah_Shayne@yahoo.com'),
 (43, 'Madelene', 'Camile', 'Camile6@yahoo.com'),
 (44, 'Cyndie', 'Arlee', 'Cyndie_Arlee@yahoo.com'),
 (52, 'Brina', 'Brenna', 'Brenna7@hotmail.com'),
 (57, 'Lotte', 'Rhianna', 'Rhianna3@yahoo.com'),
 (62, 'Zarla', 'Edythe', 'Edythe4@yahoo.com'),
 (64, 'Jeannine', 'Damaris', 'Damaris3@hotmail.com'),
 (68, 'Diandra', 'Bernette', 'Bernette_Doll8@hotmail.com'),
 (69, 'Meryl', 'Hyacinthe', 'Hyacinthe7@yahoo.com'),
 (72, 'Ida', 'Mahala', 'Mahala1@yahoo.com'),
 (75, 'Stefania', 'Karry', 'Karry2@yahoo.com'),
 (83, 'Antonietta', 'Antonie', 'Antonietta_Antonie@yahoo.com'),
 (95, 'Teriann', 'Valida', 'Teriann_Valida@yahoo.com'),
 (96, 'Kissee', 'Evanne', 'Kissee.Evanne@live.com'),
 (97, 'Renate', 'Monah', 'Monah7@yahoo.com'),
 (98, 'Dixie', 'Christina', 'Christina_Murial8@hotmail.com')]

In [42]:
#%%sql

#WITH RecentPurchases AS (
#    SELECT cust_id
#    FROM invoice
#    WHERE date >= '2018-11-01'
#)

#SELECT c.id AS customer_id, c.name, c.surname, c.email
#FROM customer_list c
#INNER JOIN RecentPurchases rp ON c.id = rp.cust_id;

<b>Problem 2</b>

Find the total sales per customer

In [35]:
%%sql

SELECT c.id AS customer_id, c.name, c.surname, 
       (SELECT SUM(d.qty * p.price)
        FROM invoice_details d
        INNER JOIN invoice inv ON d.inv_id = inv.invoice_id
        INNER JOIN prd_list p ON d.prd_id = p.id
        WHERE inv.cust_id = c.id
        GROUP BY inv.cust_id) AS total_sales
FROM customer_list c;

   sqlite:///Northwind_small.sqlite
   sqlite:///chinook.db
 * sqlite:///sales_db.db
Done.

[(1, 'Correna', 'Leilah', 81874),
 (2, 'Tiertza', 'Trixi', 24995),
 (3, 'Alethea', 'Germana', 29994),
 (4, 'Sissie', 'Shayla', 6396),
 (5, 'Michele', 'Jenelle', 4999),
 (6, 'Sherill', 'Phillie', 44878),
 (7, 'Leta', 'Joly', 68278),
 (8, 'Atalanta', 'Eryn', 46184),
 (9, 'Retha', 'Eliza', 75368),
 (10, 'Adriena', 'Sharla', 46388),
 (11, 'Willamina', 'Valenka', 19996),
 (12, 'Luelle', 'Jenine', 22390),
 (13, 'Morgan', 'Rubie', 2499),
 (14, 'Vivian', 'Daryl', 16394),
 (15, 'Joan', 'Gusella', 2499),
 (16, 'Bettye', 'Ashil', 48475),
 (17, 'Audra', 'Cynthia', 83665),
 (18, 'Etti', 'Stacy', 28989),
 (19, 'Charlean', 'Aundrea', 52976),
 (20, 'Jocelyne', 'Julee', 87674),
 (21, 'Karlotta', 'Jaymee', 67582),
 (22, 'Karee', 'Audre', 51790),
 (23, 'Davina', 'Arlina', 39879),
 (24, 'Danila', 'Maribel', 8091),
 (25, 'Jennee', 'Josey', 81079),
 (26, 'Florry', 'Nance', 104964),
 (27, 'Nissa', 'Paloma', 104760),
 (28, 'Harlie', 'Terrijo', 133172),
 (29, 'Karie', 'Alia', 7296),
 (30, 'Corliss', 'Teddie', 52475),
 (31, 'Kristen', 'Annalise', 29792),
 (32, 'Gilbertina', 'Letisha', 6198),
 (33, 'Carolina', 'Mireille', 65075),
 (34, 'Rebecka', 'Collete', 19996),
 (35, 'Ibby', 'Rosamond', 19996),
 (36, 'Rozanna', 'Joelie', 26194),
 (37, 'Maureene', 'Britney', 68384),
 (38, 'Avivah', 'Shayne', 30494),
 (39, 'Leanna', 'Blaire', 26886),
 (40, 'Odelle', 'Hannis', 78882),
 (41, 'Jolynn', 'Tana', 62686),
 (42, 'Maritsa', 'Dulcia', 16792),
 (43, 'Madelene', 'Camile', 4999),
 (44, 'Cyndie', 'Arlee', 56973),
 (45, 'Adi', 'Adey', 13991),
 (46, 'Lacey', 'Kaitlynn', 4998),
 (47, 'Kial', 'Orelia', 3295),
 (48, 'Petra', 'Dodie', 89167),
 (49, 'Fredrika', 'Devina', 9885),
 (50, 'Rosemary', 'Jen', 16998),
 (51, 'Madlen', 'Kania', 19996),
 (52, 'Brina', 'Brenna', 10294),
 (53, 'Lesya', 'Lavena', 39880),
 (54, 'Selma', 'Dierdre', 31593),
 (55, 'Michaelina', 'Tammi', 50784),
 (56, 'Laurena', 'Marcia', 21895),
 (57, 'Lotte', 'Rhianna', 87381),
 (58, 'Eada', 'Josefa', 19996),
 (59, 'Elsey', 'Vivianna', 80082),
 (60, 'Tandi', 'Maressa', 39286),
 (61, 'Kalinda', 'Tedra', 26694),
 (62, 'Zarla', 'Edythe', 85061),
 (63, 'Florencia', 'Claudie', 55573),
 (64, 'Jeannine', 'Damaris', 18997),
 (65, 'Cyndia', 'Zonnya', 19996),
 (66, 'Aileen', 'Luci', 62173),
 (67, 'Terrye', 'Kriste', 53288),
 (68, 'Diandra', 'Bernette', 8499),
 (69, 'Meryl', 'Hyacinthe', 54285),
 (70, 'Ardyce', 'Terrie', 49589),
 (71, 'Janina', 'Zenia', 46591),
 (72, 'Ida', 'Mahala', 13998),
 (73, 'Lenee', 'Alys', 19996),
 (74, 'Hollie', 'Camala', 82076),
 (75, 'Stefania', 'Karry', 31791),
 (76, 'Elaina', 'Vallie', 94478),
 (77, 'Tessi', 'Farrah', 1599),
 (78, 'Trisha', 'Sidonnie', 45179),
 (79, 'Willie', 'Chastity', 34993),
 (80, 'Allis', 'Dani', 72585),
 (81, 'Kira', 'Bobbye', 60888),
 (82, 'Ruthie', 'Susann', 69674),
 (83, 'Antonietta', 'Antonie', 49865),
 (84, 'Minnie', 'Hyacinth', 19390),
 (85, 'Benoite', 'Hettie', 79585),
 (86, 'Janeva', 'Jourdan', 51288),
 (87, 'Tobe', 'Dorelle', 16196),
 (88, 'Tomasina', 'Nichole', 47981),
 (89, 'Molly', 'Darice', 67988),
 (90, 'Melli', 'Alyssa', 75568),
 (91, 'Glory', 'Marieann', 28084),
 (92, 'Tania', 'Ediva', 77784),
 (93, 'Drusilla', 'Zahara', 51761),
 (94, 'Allianora', 'Dolorita', 66978),
 (95, 'Teriann', 'Valida', 89281),
 (96, 'Kissee', 'Evanne', 63385),
 (97, 'Renate', 'Monah', 73374),
 (98, 'Dixie', 'Christina', 9998),
 (99, 'Candie', 'Faina', 54489),
 (100, 'Val', 'Lauretta', 1899)]

In [37]:
#%%sql
#WITH Sales_CTE AS (
#    SELECT inv.cust_id, SUM(d.qty * p.price) AS total_sales
#    FROM invoice_details d
#    INNER JOIN invoice inv ON d.inv_id = inv.invoice_id
#    INNER JOIN prd_list p ON d.prd_id = p.id
#    GROUP BY inv.cust_id
#)


#SELECT c.id AS customer_id, c.name, c.surname, Sales_CTE.total_sales
#FROM Sales_CTE
#INNER JOIN customer_list c ON Sales_CTE.cust_id = c.id;

<b>When to use CTEs</b>

<b>Readability</b>: CTEs make complex queries easier to read and understand by breaking them into smaller logical blocks.<br/><br/>
<b>Reusability</b>: You can reference the same CTE multiple times within a query.<br/>

<b>Intermediate Calculations</b>: By using CTEs, you can create temporary results, such as aggregated sales or product performance, that you can then refine in subsequent queries.<br/>