<h2> Life Expectancy Case Study [Practice]</h2>

You are given a dataset of the Wealth Health Organisation recording population data pertaining to Life expectancy and have been asked to perform <b>Exploratory Data Analysis</b> and identify 
various <b>factors affecting Life Expectancy</b>.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

df = pd.read_csv('dataset/Life Expectancy Data.csv')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

<h5 style="color:blue">Activity 1: Describe the dataset</h5>

<h5 style="color:blue">Activity 2: Checking and Handling Missing values</h5>

<b>Rows with missing values</b>

<b>Columns with missing values</b>

<b>Unhandling missing values</b><br/>

There are two ways to handle missing values:
<ul>
    <li>Data imputation</li>
    <li>Dropping of rows/columns</li>
</ul>

In [3]:
#Data Imputation (Method 1)

In [4]:
#print(f'Records before cleaning: {len(df)}\nRecords after cleaning: {len(clean_df_m1)}')

In [5]:
#Records droping (Method 2)

In [6]:
#print(f'Records before cleaning: {len(df)}\nRecords after cleaning: {len(clean_df_m2)}')

<h5 style="color:blue">Activity 3: EDA - Variable Distribution</h5>

<b>Numeric Variable</b>

In [7]:
import matplotlib.pyplot as plt


# Histogram

In [8]:
import seaborn as sns

# KDE Plot

In [9]:
#Boxplot

<b>Categorical Variable</b>

In [10]:
# Count Plot


 #Pie Chart

<h5 style="color:blue">Activity 4: EDA - Relationships</h5>

In [11]:
#Scatter plot

In [12]:
#regression line

<h5 style="color:blue">Activity 5: Hypothesis Testing</h5>

<b>Relationship between GDP and Life Expectancy</b>

Null Hypothesis: 
$$
H_0: \rho = 0
$$
Alternate Hypothesis:
$$
H_1: \rho \neq 0
$$

if p > $\alpha$, accept the null hypothesis<br/>
if p $\leq \alpha$, reject the null hypothesis, in favour of the alternate hypothesis

In [13]:
from scipy.stats import pearsonr

# Perform Pearson's correlation test

<b>Difference between Life Expectancy of Developping Countries and Non-Developping Countries</b>

Null Hypothesis: 
$$
H_0: \mu_{\text{Developed}} = \mu_{\text{Developing}}
$$
Alternate Hypothesis: 
$$
H_1: \mu_{\text{Developed}} \neq \mu_{\text{Developing}}
$$

if p > $\alpha$, accept the null hypothesis<br/>
if p $\leq \alpha$, reject the null hypothesis, in favour of the alternate hypothesis

In [14]:
#Mean test