<h1>Introduction to Python </h1>

<b>Critical concepts - Webinar Outline</b>
<ol>
    <li><b>Content Review</b></li>
    <li>Python data structures</li>
    <li>Loops in Python</li>
    <li>Python functions</li>
    <li>Data Handling</li>
    <li>Classes and Objects </li>
    <li> <b>Case-Study</b></li>    
</ol>

<h3>1. Loops</h3>

<h4>Loop = Automating Repetitive code</h4>

Two types of loops: 
    <ul>
    <li>Sentinel controlled loop: <b> while loop -- It stops based on a termination criterion -- termination iteration: unknown</b></li>
    <li>Counter Controlled loop: <b>for loop -- It stops based on a termination count -- termination iteration: known</b> </li>
    </ul>

In [21]:
val = int(input('enter a positive number'))
while val < 0:
    val = int(input('enter a positive number'))
print(f'finally you have entered {val}')

enter a positive number-5
enter a positive number-6
enter a positive number-8
enter a positive number5
finally you have entered 5

In [22]:
max_count = 5
for i in range(max_count):
    print(i)

0
1
2
3
4

<h2>2. Python data structures</h2>

<p>Data Structures are used to <b>store user data using a specific data organisation scheme</b> that <b>yields</b> some processing or data retrieval <b>benefits</b> </p>

<ol>
        <li>Lists/Arrays</li>
        <li>Tuples</li>
        <li>Dictionaries</li> 
        <li>Sets</li>
        <li>Special methods and functions: .append(), .insert(),.extend(), len(), del, .pop(), .clear(), foreach, inline for, zip</li>
    </ol>

<b>A list is a collection of data types (objects) organised in an orderly fashion</b><br/>
<p>Data can be inserted and retrieved by means of <b>Indexes</b></p>
<p>Lists are <b>mutable</b> objets, meaning its content can be <b>changed</b></p>
<p>A List can be shorten or expanded </p>

Functions and methods to remember: <b>len()</b>, <b>.append()</b>, <b>.remove()</b>

In [24]:
my_list = [14, 5, 7, 8]
print(my_list[1])

my_list[0] = -10

5

In [25]:
my_list

[-10, 5, 7, 8]

<p><b>A tuple is collection of data types organised in orderly fashion</b></p>
<p>Unlike Lists, <b>Tuples are immutable objects</b>, that is its content cannot be modified </p>
<p>Functions and methods to remember: <b>len()</b></p>

In [28]:
my_tuple  = (14, 5, 7, 8)
my_tuple[0] = -5

TypeError: 'tuple' object does not support item assignment

<p><b>A set is a collection of unique objets, where duplicates data types are not allowed</b></p>
<p><b>fruits = {"banana","orange","mango", "mango"}</b> 
    <br/>will be stored as <b><br/>fruits = {"banana","orange","mango"}</b></p>

In [29]:
fruits = {'banana','mango','mango','orange'}
print(fruits)

{'banana', 'orange', 'mango'}

<p><b>A dictionary is a collection of data types stores by means of unique identifiers</b> called <b>"keys"</b></p>
<p>A Dictionary is similar to a list, however, data are accessed by <b>keys</b> rather than <b>indexes</b></p>
<p><b>car_description[0] = 'mazda'</b>  (using a list)</p>
<p><b>car['brand'] = 'mazda'</b>  (using a dictionary)</p>
<p>It is appropriate to use a dictionary when storing an object with different properties</p>
<p>e.g. <b>soccer_player = {"name":"lionel", "surname":"messi", "age":34}<b/></p>
<p><b>player_name = soccer_player['name']</b></p>

In [30]:
car_year = [2010, 2022, 2023, 2024]
car_year[0]

2010

In [32]:
car_year = {'mazda':2010, 'toyota':2022, 'mercedez':2023, 'audi':2024}
car_year['mazda']

2010

<h2>3. Python functions</h2>

<h4>Function = Resuable Process</h4>
<h4>Philosophy = Define once, use as many times as you want!!</h4>

<h4>The Function operation requires two main processes</h4>
    <ol><li>Function definition</li>
        <li>Function call</li>
    </ol>

f: R -----> R  #function defition
   x------> f(x) = 2x + 1
   
   
  f(3) = 2x3+1 = 7 #function call

In [33]:
#function definition
def f(x):
    y = 2*x+1
    return y

In [35]:
result = f(3)
print(result)

7

Four types of functions base on the existence or absence of the input/ouput
<ul>
    <li>(1) = Input / Ouput  e.g c = add(1,2) </li>
    <li>(2) = Input / No ouput e.g. init(options)</li>
    <li>(3) = No Input / Output e.g  rand()</li>
    <li>(4)  = No Input/ No Ouput e.g menu()</li>
    </ul>

In [36]:
def menu():
    print("--------------")
    print("| Calculator  |")
    print("--------------")
    
menu()

--------------
| Calculator  |
--------------

In [37]:
def random_gen():
    return 10*5

random_gen()

50

In [40]:
def init(std_number):
    print("----------------------------")
    print(f"| Academic record : {std_number}")
    print("-----------------------------")
    
init(21012454)

----------------------------
| Academic record : 21012454
-----------------------------

<h4>3.1. Lamba functions</h4><br/>
<b>Lamda Function = Anonymous Function = Function with no name</hb>

In [4]:
#lambda agurments: return_expression
add_c = lambda a,b:a+b  #add
print(add_c(1,3))

4

In [43]:
add_func = lambda num1, num2: num1+num2
print(add_func(-50,5))

-45

<b>3.3 Recursive functions </b>

A <b>recursive function</b> is a function that <b>calls itself in order to solve a problem</b>. The key idea behind recursion is to break down a complex problem into smaller, more manageable subproblems of the same type, until reaching a base case that stops the recursion.

<b>Key Components of a Recursive Function:</b><br/><br/>
<b>1. Base Case</b>: The condition where the recursion stops. Without a base case, the recursion would continue indefinitely, leading to a stack overflow error.<br/>
<b>2. Recursive Case</b>: The part of the function where the function calls itself with a modified argument to break down the problem into smaller parts.

factorial (5) = 5! = 5 x 4 x 3 x 2 x 1 =  5 x 4!= 5 x 4 x 3! <br/>
1! = 1<br/>
0! = 1

factorial(n) = n*factorial(n-1)

In [10]:
def factorial(n):
    # Base case: when n is 1, stop the recursion
    if n == 1:
        return 1
    else:
        # Recursive case: call factorial on n-1
        return n * factorial(n - 1)

In [11]:
factorial(5)

120

<h2>4. Data Handling in Python</h2>

In [46]:
#the pandas library 
import pandas as pd

name_list = ['ronaldo','messi','mbappe']
age_list = [36,33, 25]

soccer_player_dicts = {'name':name_list, 'age':age_list}
soccier_player_df = pd.DataFrame(soccer_player_dicts)

soccier_player_df.head()

      name  age
0  ronaldo   36
1    messi   33
2   mbappe   25

In [45]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore') 

df = pd.read_csv('car_datasets.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

<ul>
    <li><strong>Loading Data:</strong></li>
    <ul>
        <li><code>pd.read_csv()</code> - Reads a CSV file into a DataFrame.</li>
        <li><code>pd.read_excel()</code> - Reads an Excel file into a DataFrame.</li>
        <li><code>pd.read_json()</code> - Reads a JSON file into a DataFrame.</li>
    </ul>
</ul>

<ul>
    <li><strong>Basic Information and Inspection:</strong></li>
    <ul>
        <li><code>df.head()</code> - Returns the first n rows of the DataFrame (default 5).</li>
        <li><code>df.tail()</code> - Returns the last n rows of the DataFrame (default 5).</li>
        <li><code>df.info()</code> - Displays concise summary including data types.</li>
        <li><code>df.describe()</code> - Generates summary statistics for numerical columns.</li>
        <li><code>df.shape</code> - Returns the dimensions (rows, columns) of the DataFrame.</li>
        <li><code>df.columns</code> - Returns the column names of the DataFrame.</li>
        <li><code>df.isnull()</code> - Checks for missing values (NaNs).</li>
    </ul>
</ul>

<ul>    
    <li><strong>Data Selection and Indexing:</strong></li>
    <ul>
        <li><code>df['column_name']</code> - Selects a single column as a Series.</li>
        <li><code>df[['col1', 'col2']]</code> - Selects multiple columns.</li>
        <li><code>df.iloc[]</code> - Selects rows and columns by index (integer-based).</li>
        <li><code>df.loc[]</code> - Selects rows and columns by labels (label-based).</li>
        <li><code>df.set_index()</code> - Sets a specific column as the index.</li>
        <li><code>df.reset_index()</code> - Resets the index to the default integer index.</li>
    </ul>
</ul>

<ul>
<li><strong>Data Cleaning:</strong></li>
    <ul>
        <li><code>df.drop()</code> - Removes rows or columns.</li>
        <li><code>df.dropna()</code> - Removes rows with missing values.</li>
        <li><code>df.fillna()</code> - Fills missing values with a specified value.</li>
        <li><code>df.replace()</code> - Replaces specified values with another value.</li>
        <li><code>df.duplicated()</code> - Checks for duplicate rows.</li>
        <li><code>df.drop_duplicates()</code> - Removes duplicate rows.</li>
        <li><code>df.astype()</code> - Converts the data type of a column.</li>
    </ul>
    </ul>

<h2>5. Classes and Objects</h2>

Class = blueprint of a spieces sharing a given skeleton (abstract)<br/>
Object = actual instance of the class (tangible and concrete)

<br/>
<img width="500px" src="media/class_vs_object.png"/>

In [47]:
class Dog: #PEP8
    # Constructor to initialize attributes of a dog
    def __init__(self, name, breed, age):
        self.name = name   # Assign the name
        self.breed = breed # Assign the breed
        self.age = age     # Assign the age

    # Method to make the dog bark
    def bark(self):
        return f"{self.name} says: Woof!"

    # Method to display dog info
    def dog_info(self):
        return f"Name: {self.name}, Breed: {self.breed}, Age: {self.age} years old"

    # Method to calculate dog birth date
    def birth_year(self):
        return 2024-self.age

In [48]:
# Creating instances (objects) of the Dog class
dog1 = Dog(name="Buddy", breed="Golden Retriever", age=5)
dog2 = Dog(name="Max", breed="Bulldog", age=3)

In [49]:
# Calling methods on the objects
print(dog1.bark())                 # Output: Buddy says: Woof!
print(dog1.dog_info())             # Output: Name: Buddy, Breed: Golden Retriever, Age: 5 years old
print(f"{dog1.name}'s birth year is {dog1.birth_year()}.")

Buddy says: Woof!
Name: Buddy, Breed: Golden Retriever, Age: 5 years old
Buddy's birth year is 2019.

In [8]:
# Calling methods on the objects
print(dog2.bark())                 # Output: Buddy says: Woof!
print(dog2.dog_info())             # Output: Name: Buddy, Breed: Golden Retriever, Age: 5 years old
print(f"{dog2.name}'s birth year is {dog2.birth_year()}.")

Max says: Woof!
Name: Max, Breed: Bulldog, Age: 3 years old
Max's birth year is 2021.

<h3> Case Study Problem  </h3>

Create a datafram from a collection of technology files (tech.zip). The dataframe must have two columns: file_name, file_content.