<b>Problem 1: Regression dataset </b>

Dataset information: You are given a dataset to build a regression model for house pricing estimation.

<b>Problem</b>: Build a linear regression model from the dataset.
<ul>
    <li>Drop records with missing values if they exist</li>
    <li>Divide the dataset into feature vectors (X) and the target variable (y).</li>
    <li>Split the dataset into Training and Test set with a 80/20 proportion</li>
    <li>Train your Linear regression model. </li>
    <li>Assess the model performance (on the training and test set)</li>
    <li>Provide recommendations to improve performance</li>
    
</ul>

In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

real_estate_df = pd.read_csv('../datasets/real_estate_data.csv')
real_estate_df.info()
real_estate_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       414 non-null    int64
 1   house_age        414 non-null    float64
 2   dist_nStation    414 non-null    float64
 3   num_cStores      414 non-null    int64
 4   dist_nStation.1  414 non-null    float64
 5   lat              414 non-null    float64
 6   long             414 non-null    float64
 7   house_p          414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

,Unnamed: 0,house_age,dist_nStation,num_cStores,dist_nStation.1,lat,long,house_p
0,0,32.0,84.87882,10,84.87882,24.98298,121.54024,3221.5
1,1,19.5,306.59470,9,306.59470,24.98034,121.53951,3587.0
2,2,13.3,561.98450,5,561.98450,24.98746,121.54391,4020.5
3,3,13.3,561.98450,5,561.98450,24.98746,121.54391,4658.0
4,4,5.0,390.56840,5,390.56840,24.97937,121.54245,3663.5

<b>Problem 2: Classification dataset</b>: 

Data Set Information:

This data was collected via a survey on Amazon Mechanical Turk. The survey describes different driving scenarios including the destination, current time, weather, passenger, etc., and then ask the person whether he will accept the coupon if he is the driver. <b>Make use of Label Encoder to convert your categorical variables.</b> <b>hint: sklearn.xxx.LabelEncoder</b>

Provide recommendations to impove the model.

In [3]:
import pandas as pd

driver_df = pd.read_csv('../datasets/in-vehicle-coupon-recommendation.csv')
driver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

<b>Problem 3: Optimisation problem </b>

Given the rosenbrock function, a test optimisation function:

$$
  f(x,y) = (1-x)^2+100(y-x^2)^2
$$

Using the gradient descent algorithm, find the location of the minimum point given that the variables are bounded as follows:

$$ 
-10\leq x,y\leq 10
$$

<img src="media/rosenbrock.jpeg" width="300px"/>

Compute the gradient function using partial derivatives: $\frac{df}{dx}, \frac{df}{dy}$

<b>Where is the optimum point located?</b>