Please install the following first:

In [6]:
# pip install sklearn

<h1>Multiple Linear Regression - Case Studies - Group 1</h1>

<b> Question 1 - Simple Linear Regression - Optimising crops production: Merka Agri</b><br/><br/>

Merka Agri is a wholesaler producer of corns. The company makes use of fertilizer to accelerate the growth of its crops added for 90 days period from planting prior to the harvesting. The amount of fertilizer obviously as an impact of the growth of the corns and the company would like to have an adequate estimate of the relationship between the amount of fertilizer added overall against the weight of the final corn. You have conducted an experiment for 100 crops whereby a fixed amount of mg per pot is added every day and at the end of 90 days the weights of the corns has been recorded. You are currently in the analysis of the data (“merka_argi_corn_experiment.csv”).

<h3 style="color:blue">Solution steps </h3>

<h4 style="color:blue">Step 1: load the datasets using pandas. List all attributes, identify the feature (x) and the target (y)</h4>

tip: df.info(), df.describe()

In [9]:
import pandas as pd

df = pd.read_csv('db/merka_agri_corn_experiment.csv')
df.head()

   record_num  fertilizer_addition  corn_weight
0           0                 75.0        458.0
1           1                 45.0        302.0
2           2                 10.0        150.0
3           3                 70.0        503.0
4           4                 85.0        566.0

<h4 style="color:blue">Step 2: Generate a scatter plot - x-axis: total-mg-per-pot, y-axis:corn-weight</h4>

<h4 style="color:blue">Step 3: Build a linear regression model and extract the model coefficients</h4>

<h4 style="color:blue">Step 4: Compute the R^2 score and RMSE based on the model estimation as well provide a goodness of fit scatter plot</h4>

<h4 style="color:blue">Step 5: Draw the regression line on your dataset</h4>

<h4 style="color:blue">Step 6: Comments on whether your model performs well or not?</h4>

<h4 style="color:blue">Step 7: On average, what could the weight of a corn if fertalised with 50-mg for 90days?</h4>

<b> Question 2 - Multiple Linear Regression - Used Car Price Dataset</b><br/><br/>
You are given a dataset of used car profiles and pricing ('Used Car Dataset.csv'). The dataset contains 15 attribures incliding the sold price of each car. Develop a regression model to accurately estimate the price of a used car given all relevant available attributes.

<h3 style="color:blue">Solution steps </h3>

<h4 style="color:blue">Step 1: load the datasets using pandas. List all attributes, identify the features (x) and the target (y)</h4>

tip: df.info(), df.describe()

In [11]:
import pandas as pd

df = pd.read_csv('db/Used Car Dataset.csv')
df.head()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

<h4 style="color:blue">Step 2: Identify records containing missing valueds and remove them</h4>

Tips: 

<ul>
    <li>df.isna().any() : Check whether ther are missing values in some columns</li>
    <li>total_missing_records = df.isna().any(axis=1).sum()</li>
    <li>df.dropna(inplace=True)</li>
</ul>

<h4 style="color:blue">Step 3: Extract Car Band, and Registration year from the dataset</h4>

Tips: 
<ul>
    <li>df['car_brand'] = df['car_name'].apply(define_string_manip_func1)</li>
    <li>df['reg_year'] = df['registration_year'].apply(define_string_manip_func2)</li>
</ul>

<h4 style="color:blue">Step 4: Identify features (X) and the target variable (y)</h4>

<h4 style="color:blue">Step 5: Convert categorical features into numerical equivalent attributes</h4>

<h4 style="color:blue">Step 6: Perform Correlation analysis using a pairplot and a correlation matrix on the feature data matrix</h4>

Use your own judgment to remove some features (i.e. Do not remove any for now. You may do so after evaluating your model performance on an all-feature training first round)

<h4 style="color:blue">Step 7: Split the dataset in training/test set using a 80/20 split proportion</h4>

<h4 style="color:blue">Step 8: Build a linear regression model and extract the model coefficients</h4>

<h4 style="color:blue">Step 9: Compute the $R^2$ score and RMSE based on the model estimation as well provide a goodness of fit scatter plot - on the training set and test set separately</h4>

<h4 style="color:blue">Step 10: Comment on the model performance and provide recommendations to improve it</h4>

<b> Question 3 - Statiscal Analysis on factors influencing Life Expectancy (WHO)</b><br/><br/>
Given a global dataset ('Life Expectancy Data.csv') on life expectancy recorded by the Wealth Health Organised collected from a period of 2000 to 2015, perform a statiscal analysis to identify factors contributing to lower value of life expectancy. Source: https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who

The data-set aims to answer the following key questions:

<ol>
    <li> Does various predicting factors which has been chosen initially really affect the Life expectancy?</li>
    <li>What are the predicting variables actually affecting the life expectancy?</li>
    <li>Should a country having a lower life expectancy value(<65) increase its healthcare expenditure in order to improve its average lifespan?</li>
    <li>How does Infant and Adult mortality rates affect life expectancy?</li>
    <li>Does Life Expectancy has positive or negative correlation with eating habits, lifestyle, exercise, smoking, drinking alcohol etc.</li>
    <li>What is the impact of schooling on the lifespan of humans?</li>
    <li>Does Life Expectancy have positive or negative relationship with drinking alcohol?</li>
    <li>Do densely populated countries tend to have lower life expectancy?</li>
    <li>What is the impact of Immunization coverage on life Expectancy?</li>
</ol>

<b>This analysis is an open problem</b> and may be performed with different tastes and at different complexity levels and insight depth.

<h3 style="color:blue">Analysis steps </h3>

<h4 style="color:blue">Step 1: Load the datasets into pandas. List all attributes, identify the dependent variables (X) and target variable (y)</h4>

tip: df.info(), df.describe()

In [10]:
import pandas as pd

df = pd.read_csv('db/Life Expectancy Data.csv')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

<h4 style="color:blue">Step 2: Provide an histogram, density function and box plot for the overall life expectancy and per developing country status</h4>

<h4 style="color:blue">Step 3: Perform correlation analysis between each feature and Life expectancy starting from Adult mortality to Schooling. Assess their contribution to life expectancy and answer question 1 to 9</h4>

Your correlation analysis should consist of the following:

<ol>
    <li>Provide a scatter plot between each feature and the life expectancy variable</li>
    <li>Draw a fitting regression line on the scatter plot</li>
    <li>Compute the correlation coefficient between the two variables</li>
    <li>Comments on your findings</li>
    <!-- <li></li>-->
</ol>

<h4 style="color:blue">Step 4: Generate a correlation based feature importance bar plot based on each feature correlation result against life expectancy</h4>

Note:
Correlation ($r$) is a polarised variable, therefore it should be depolarised by squaring it ($|r|$) or using the absolute value ($r^2$). Ensure you depolarise the correlation score prior to building the feature importance bar/column chart

<h4 style="color:blue">Step 5: Build a regression model between all relevant features (include countries of origin, exclude the year column) and the target variable. Assess its performance on the training and test set. Comment on the model performance.</h4>