In [1]:
%load_ext sql

In [31]:
%%sql
sqlite:///sales_db.db

In [2]:
%%sql
sqlite:///TMDB.db

In [3]:
%%sql
PRAGMA table_info(movies)

 * sqlite:///TMDB.db
Done.

[(0, 'movie_id', 'INTEGER', 1, None, 1),
 (1, 'title', 'varchar(500)', 0, 'NULL', 0),
 (2, 'release_date', 'datetime(6)', 0, 'NULL', 0),
 (3, 'budget', 'INTEGER', 0, 'NULL', 0),
 (4, 'homepage', 'varchar(500)', 0, 'NULL', 0),
 (5, 'original_language', 'varchar(50)', 0, 'NULL', 0),
 (6, 'original_title', 'varchar(500)', 0, 'NULL', 0),
 (7, 'overview', 'varchar(5000)', 0, 'NULL', 0),
 (8, 'popularity', 'double', 0, 'NULL', 0),
 (9, 'revenue', 'double', 0, 'NULL', 0),
 (10, 'runtime', 'double', 0, 'NULL', 0),
 (11, 'release_status', 'varchar(50)', 0, 'NULL', 0),
 (12, 'tagline', 'varchar(500)', 0, 'NULL', 0),
 (13, 'vote_average', 'double', 0, 'NULL', 0),
 (14, 'vote_count', 'INTEGER', 0, 'NULL', 0)]

<h2>Sales_db: Database</h2>

In [49]:
%%sql
PRAGMA table_info(customer_list);

 * sqlite:///sales_db.db
Done.

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'name', 'TEXT', 1, None, 0),
 (2, 'surname', 'TEXT', 1, None, 0),
 (3, 'middle_name', 'TEXT', 1, None, 0),
 (4, 'tel', 'TEXT', 1, None, 0),
 (5, 'email', 'TEXT', 0, 'NULL', 0)]

In [50]:
%%sql
PRAGMA table_info(prd_list);

 * sqlite:///sales_db.db
Done.

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'name', 'TEXT', 0, 'NULL', 0),
 (2, 'price', 'INTEGER', 1, None, 0),
 (3, 'description', 'TEXT', 0, 'NULL', 0)]

In [51]:
%%sql
PRAGMA table_info(invoice);

 * sqlite:///sales_db.db
Done.

[(0, 'invoice_id', 'INTEGER', 1, None, 1),
 (1, 'cust_id', 'INTEGER', 1, None, 0),
 (2, 'date', 'TEXT', 1, None, 0)]

In [52]:
%%sql
PRAGMA table_info(invoice_details);

 * sqlite:///sales_db.db
Done.

[(0, 'inv_id', 'INTEGER', 1, None, 1),
 (1, 'prd_id', 'INTEGER', 1, None, 2),
 (2, 'qty', 'INTEGER', 0, 'NULL', 0)]

<h2>Basic SQL</h2>
<ul>
    <li> SELECT</li>
    <li> INSERT</li>
    <li> UPDATE</li>
    <li> DELETE</li>
</ul>

In [32]:
%%sql

PRAGMA table_info(customer_list);

 * sqlite:///sales_db.db
Done.

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'name', 'TEXT', 1, None, 0),
 (2, 'surname', 'TEXT', 1, None, 0),
 (3, 'middle_name', 'TEXT', 1, None, 0),
 (4, 'tel', 'TEXT', 1, None, 0),
 (5, 'email', 'TEXT', 0, 'NULL', 0)]

SELECT column_1, column2, ...,column_n FROM table_name;

SELECT * FROM table_name;

In [56]:
%%sql

SELECT name,surname FROM customer_list;

 * sqlite:///sales_db.db
Done.

[('Correna', 'Leilah'),
 ('Tiertza', 'Trixi'),
 ('Alethea', 'Germana'),
 ('Sissie', 'Shayla'),
 ('Michele', 'Jenelle'),
 ('Sherill', 'Phillie'),
 ('Leta', 'Joly'),
 ('Atalanta', 'Eryn'),
 ('Retha', 'Eliza'),
 ('Adriena', 'Sharla'),
 ('Willamina', 'Valenka'),
 ('Luelle', 'Jenine'),
 ('Morgan', 'Rubie'),
 ('Vivian', 'Daryl'),
 ('Joan', 'Gusella'),
 ('Bettye', 'Ashil'),
 ('Audra', 'Cynthia'),
 ('Etti', 'Stacy'),
 ('Charlean', 'Aundrea'),
 ('Jocelyne', 'Julee'),
 ('Karlotta', 'Jaymee'),
 ('Karee', 'Audre'),
 ('Davina', 'Arlina'),
 ('Danila', 'Maribel'),
 ('Jennee', 'Josey'),
 ('Florry', 'Nance'),
 ('Nissa', 'Paloma'),
 ('Harlie', 'Terrijo'),
 ('Karie', 'Alia'),
 ('Corliss', 'Teddie'),
 ('Kristen', 'Annalise'),
 ('Gilbertina', 'Letisha'),
 ('Carolina', 'Mireille'),
 ('Rebecka', 'Collete'),
 ('Ibby', 'Rosamond'),
 ('Rozanna', 'Joelie'),
 ('Maureene', 'Britney'),
 ('Avivah', 'Shayne'),
 ('Leanna', 'Blaire'),
 ('Odelle', 'Hannis'),
 ('Jolynn', 'Tana'),
 ('Maritsa', 'Dulcia'),
 ('Madelene', 'Camile'),
 ('Cyndie', 'Arlee'),
 ('Adi', 'Adey'),
 ('Lacey', 'Kaitlynn'),
 ('Kial', 'Orelia'),
 ('Petra', 'Dodie'),
 ('Fredrika', 'Devina'),
 ('Rosemary', 'Jen'),
 ('Madlen', 'Kania'),
 ('Brina', 'Brenna'),
 ('Lesya', 'Lavena'),
 ('Selma', 'Dierdre'),
 ('Michaelina', 'Tammi'),
 ('Laurena', 'Marcia'),
 ('Lotte', 'Rhianna'),
 ('Eada', 'Josefa'),
 ('Elsey', 'Vivianna'),
 ('Tandi', 'Maressa'),
 ('Kalinda', 'Tedra'),
 ('Zarla', 'Edythe'),
 ('Florencia', 'Claudie'),
 ('Jeannine', 'Damaris'),
 ('Cyndia', 'Zonnya'),
 ('Aileen', 'Luci'),
 ('Terrye', 'Kriste'),
 ('Diandra', 'Bernette'),
 ('Meryl', 'Hyacinthe'),
 ('Ardyce', 'Terrie'),
 ('Janina', 'Zenia'),
 ('Ida', 'Mahala'),
 ('Lenee', 'Alys'),
 ('Hollie', 'Camala'),
 ('Stefania', 'Karry'),
 ('Elaina', 'Vallie'),
 ('Tessi', 'Farrah'),
 ('Trisha', 'Sidonnie'),
 ('Willie', 'Chastity'),
 ('Allis', 'Dani'),
 ('Kira', 'Bobbye'),
 ('Ruthie', 'Susann'),
 ('Antonietta', 'Antonie'),
 ('Minnie', 'Hyacinth'),
 ('Benoite', 'Hettie'),
 ('Janeva', 'Jourdan'),
 ('Tobe', 'Dorelle'),
 ('Tomasina', 'Nichole'),
 ('Molly', 'Darice'),
 ('Melli', 'Alyssa'),
 ('Glory', 'Marieann'),
 ('Tania', 'Ediva'),
 ('Drusilla', 'Zahara'),
 ('Allianora', 'Dolorita'),
 ('Teriann', 'Valida'),
 ('Kissee', 'Evanne'),
 ('Renate', 'Monah'),
 ('Dixie', 'Christina'),
 ('Candie', 'Faina'),
 ('Val', 'Lauretta')]

<h2>Basic Arithmetics</h2>
<ul>
    <li>+</li>
    <li>-</li>
    <li>*</li>
    <li>/</li>
</ul>

In [58]:
%%sql

SELECT 5*8;

 * sqlite:///sales_db.db
Done.

[(40,)]

INSERT: Add Rows to a table

<b>INSERT INTO TABLE(colum_1, colum2, column3, ...column_n) VALUES (),(),</b>

In [59]:
%%sql 

INSERT INTO customer_list(name,surname,middle_name,tel,email) 
VALUES
('yves', 'matanga','ngoma', '0764567341','yves_m@gmail.com');

 * sqlite:///sales_db.db
1 rows affected.

[]

<b>UPDATE</b>: Modify a record or a set or records using a given criterion

UPDATE table_name SET column_1 = 'xxx', column2 = 'xxx', column3='xxx' WHERE condition;

In [61]:
%%sql

UPDATE customer_list 
SET email = 'yves_matanga@gmail.com', tel='0873655461' WHERE name ='yves';

 * sqlite:///sales_db.db
1 rows affected.

[]

DELETE: remove a record or a set of records using a given criterion

<b>DELETE FROM table_name WHERE criterion</b>

In [63]:
%%sql

DELETE FROM customer_list WHERE name='yves';

 * sqlite:///sales_db.db
1 rows affected.

[]

In [ ]:
#queries that apply to the data: SELECT, INSERT, DELETE, UPDATE

#queries that apply to the database structure: DROP, ALTER, MODIFY, etc.

In [64]:
%%sql

SELECT * FROm customer_list;

 * sqlite:///sales_db.db
Done.

[(1, 'Correna', 'Leilah', 'Alvina', '0743246571', 'Leilah_Alvina1@hotmail.com'),
 (2, 'Tiertza', 'Trixi', 'Junina', '0122418097', 'Tiertza.Trixi@live.com'),
 (3, 'Alethea', 'Germana', 'Robinia', '0611045869', 'Germana9@hotmail.com'),
 (4, 'Sissie', 'Shayla', 'Georgianne', '0813498160', 'Shayla4@yahoo.com'),
 (5, 'Michele', 'Jenelle', 'Florrie', '0619510647', 'Jenelle0@hotmail.com'),
 (6, 'Sherill', 'Phillie', 'Remy', '0123249186', 'Sherill.Phillie@live.com'),
 (7, 'Leta', 'Joly', 'Jenilee', '0128476395', 'Leta.Joly@live.com'),
 (8, 'Atalanta', 'Eryn', 'Oneida', '0727631290', 'Atalanta_Eryn@yahoo.com'),
 (9, 'Retha', 'Eliza', 'Desirae', '0815480196', 'Eliza2@yahoo.com'),
 (10, 'Adriena', 'Sharla', 'Orella', '0721382954', 'Adriena_Sharla@yahoo.com'),
 (11, 'Willamina', 'Valenka', 'Sile', '0748932641', 'Valenka_Sile7@hotmail.com'),
 (12, 'Luelle', 'Jenine', 'Kinna', '0122910736', 'Luelle.Jenine@live.com'),
 (13, 'Morgan', 'Rubie', 'Myrta', '0728473021', 'Morgan_Rubie@yahoo.com'),
 (14, 'Vivian', 'Daryl', 'Gusty', '0616734215', 'Daryl6@hotmail.com'),
 (15, 'Joan', 'Gusella', 'Rosetta', '0129815230', 'Joan.Gusella@live.com'),
 (16, 'Bettye', 'Ashil', 'Opalina', '0126901547', 'Bettye.Ashil@live.com'),
 (17, 'Audra', 'Cynthia', 'Joeann', '0124376012', 'Audra.Cynthia@live.com'),
 (18, 'Etti', 'Stacy', 'Jeannine', '0726248709', 'Etti_Stacy@yahoo.com'),
 (19, 'Charlean', 'Aundrea', 'Lita', '0124219653', 'Charlean.Aundrea@live.com'),
 (20, 'Jocelyne', 'Julee', 'Glennie', '0818203597', 'Julee0@yahoo.com'),
 (21, 'Karlotta', 'Jaymee', 'Lilyan', '0121784230', 'Karlotta.Jaymee@live.com'),
 (22, 'Karee', 'Audre', 'Christalle', '0126281074', 'Karee.Audre@live.com'),
 (23, 'Davina', 'Arlina', 'Imogene', '0813049256', 'Arlina7@yahoo.com'),
 (24, 'Danila', 'Maribel', 'Glen', '0812658034', 'Maribel8@yahoo.com'),
 (25, 'Jennee', 'Josey', 'Daron', '0125702914', 'Jennee.Josey@live.com'),
 (26, 'Florry', 'Nance', 'Tedra', '0742704136', 'Nance_Tedra2@hotmail.com'),
 (27, 'Nissa', 'Paloma', 'Lola', '0612459036', 'Paloma9@hotmail.com'),
 (28, 'Harlie', 'Terrijo', 'Jamima', '0125842739', 'Harlie.Terrijo@live.com'),
 (29, 'Karie', 'Alia', 'Savina', '0814650273', 'Alia5@yahoo.com'),
 (30, 'Corliss', 'Teddie', 'Dulce', '0723602947', 'Corliss_Teddie@yahoo.com'),
 (31, 'Kristen', 'Annalise', 'Odille', '0123650794', 'Kristen.Annalise@live.com'),
 (32, 'Gilbertina', 'Letisha', 'Sherri', '0725109647', 'Gilbertina_Letisha@yahoo.com'),
 (33, 'Carolina', 'Mireille', 'Anthe', '0720196372', 'Carolina_Mireille@yahoo.com'),
 (34, 'Rebecka', 'Collete', 'Julianne', '0122965348', 'Rebecka.Collete@live.com'),
 (35, 'Ibby', 'Rosamond', 'Latisha', '0724761852', 'Ibby_Rosamond@yahoo.com'),
 (36, 'Rozanna', 'Joelie', 'Candice', '0128574203', 'Rozanna.Joelie@live.com'),
 (37, 'Maureene', 'Britney', 'Hedvig', '0723069521', 'Maureene_Britney@yahoo.com'),
 (38, 'Avivah', 'Shayne', 'Blinni', '0723590761', 'Avivah_Shayne@yahoo.com'),
 (39, 'Leanna', 'Blaire', 'Jane', '0725291063', 'Leanna_Blaire@yahoo.com'),
 (40, 'Odelle', 'Hannis', 'Lurleen', '0817051629', 'Hannis0@yahoo.com'),
 (41, 'Jolynn', 'Tana', 'Tildy', '0611837290', 'Tana4@hotmail.com'),
 (42, 'Maritsa', 'Dulcia', 'Aleen', '0729512370', 'Maritsa_Dulcia@yahoo.com'),
 (43, 'Madelene', 'Camile', 'Shandra', '0813156908', 'Camile6@yahoo.com'),
 (44, 'Cyndie', 'Arlee', 'Celestine', '0720864239', 'Cyndie_Arlee@yahoo.com'),
 (45, 'Adi', 'Adey', 'Hinda', '0725039674', 'Adi_Adey@yahoo.com'),
 (46, 'Lacey', 'Kaitlynn', 'Noelle', '0811867450', 'Kaitlynn1@yahoo.com'),
 (47, 'Kial', 'Orelia', 'Vina', '0125879320', 'Kial.Orelia@live.com'),
 (48, 'Petra', 'Dodie', 'Margalit', '0126495810', 'Petra.Dodie@live.com'),
 (49, 'Fredrika', 'Devina', 'Marlo', '0122648953', 'Fredrika.Devina@live.com'),
 (50, 'Rosemary', 'Jen', 'Clo', '0740849715', 'Jen_Clo2@hotmail.com'),
 (51, 'Madlen', 'Kania', 'Lorelle', '0726341087', 'Madlen_Kania@yahoo.com'),
 (52, 'Brina', 'Brenna', 'Clem', '0616759830', 'Brenna7@hotmail.com'),
 (53, 'Lesya', 'Lavena', 'Annadiane', '0721839250', 'Lesya_Lavena@yahoo.com'),
 (54, 'Selma', 'Dierdre', 'Kalindi', '0127240586', 'Selma.Dierdre@live.com'),
 (55, 'Michaelina', 'Tammi', 'Robinetta', '0617231695', 'Tammi3@hotmail.com'),
 (56, 'Laurena', 'Marcia', 'Lynnett', '0727450891', 'Laurena_Marcia@yahoo.com'),
 (57, 'Lotte', 'Rhianna', 'Elbertine', '0813765218', 'Rhianna3@yahoo.com'),
 (58, 'Eada', 'Josefa', 'Theodosia', '0612543187', 'Josefa5@hotmail.com'),
 (59, 'Elsey', 'Vivianna', 'Aubine', '0814857609', 'Vivianna4@yahoo.com'),
 (60, 'Tandi', 'Maressa', 'Glenine', '0128706493', 'Tandi.Maressa@live.com'),
 (61, 'Kalinda', 'Tedra', 'Aeriell', '0125183296', 'Kalinda.Tedra@live.com'),
 (62, 'Zarla', 'Edythe', 'Del', '0818253416', 'Edythe4@yahoo.com'),
 (63, 'Florencia', 'Claudie', 'Joelynn', '0128659741', 'Florencia.Claudie@live.com'),
 (64, 'Jeannine', 'Damaris', 'Rafaelia', '0619401678', 'Damaris3@hotmail.com'),
 (65, 'Cyndia', 'Zonnya', 'Jessalin', '0816142307', 'Zonnya1@yahoo.com'),
 (66, 'Aileen', 'Luci', 'Valencia', '0127613294', 'Aileen.Luci@live.com'),
 (67, 'Terrye', 'Kriste', 'Enrichetta', '0819146753', 'Kriste6@yahoo.com'),
 (68, 'Diandra', 'Bernette', 'Doll', '0742748153', 'Bernette_Doll8@hotmail.com'),
 (69, 'Meryl', 'Hyacinthe', 'Adina', '0815837624', 'Hyacinthe7@yahoo.com'),
 (70, 'Ardyce', 'Terrie', 'Benny', '0720238451', 'Ardyce_Terrie@yahoo.com'),
 (71, 'Janina', 'Zenia', 'Kirsti', '0721360785', 'Janina_Zenia@yahoo.com'),
 (72, 'Ida', 'Mahala', 'Lulu', '0811398204', 'Mahala1@yahoo.com'),
 (73, 'Lenee', 'Alys', 'Brina', '0120418725', 'Lenee.Alys@live.com'),
 (74, 'Hollie', 'Camala', 'Lotti', '0124860371', 'Hollie.Camala@live.com'),
 (75, 'Stefania', 'Karry', 'Elsey', '0817430526', 'Karry2@yahoo.com'),
 (76, 'Elaina', 'Vallie', 'Loreen', '0128097514', 'Elaina.Vallie@live.com'),
 (77, 'Tessi', 'Farrah', 'Maire', '0125180629', 'Tessi.Farrah@live.com'),
 (78, 'Trisha', 'Sidonnie', 'Joan', '0749753618', 'Sidonnie_Joan8@hotmail.com'),
 (79, 'Willie', 'Chastity', 'Linda', '0720219746', 'Willie_Chastity@yahoo.com'),
 (80, 'Allis', 'Dani', 'Loria', '0124378069', 'Allis.Dani@live.com'),
 (81, 'Kira', 'Bobbye', 'Vere', '0128936710', 'Kira.Bobbye@live.com'),
 (82, 'Ruthie', 'Susann', 'Lyndell', '0728039417', 'Ruthie_Susann@yahoo.com'),
 (83, 'Antonietta', 'Antonie', 'Sheelah', '0725173906', 'Antonietta_Antonie@yahoo.com'),
 (84, 'Minnie', 'Hyacinth', 'Meagan', '0813258670', 'Hyacinth5@yahoo.com'),
 (85, 'Benoite', 'Hettie', 'Annadiane', '0810149678', 'Hettie9@yahoo.com'),
 (86, 'Janeva', 'Jourdan', 'Mara', '0810162753', 'Jourdan5@yahoo.com'),
 (87, 'Tobe', 'Dorelle', 'Ninnetta', '0125749183', 'Tobe.Dorelle@live.com'),
 (88, 'Tomasina', 'Nichole', 'Beatrisa', '0720839256', 'Tomasina_Nichole@yahoo.com'),
 (89, 'Molly', 'Darice', 'Wanids', '0124189260', 'Molly.Darice@live.com'),
 (90, 'Melli', 'Alyssa', 'Bekki', '0127852069', 'Melli.Alyssa@live.com'),
 (91, 'Glory', 'Marieann', 'Agata', '0724160839', 'Glory_Marieann@yahoo.com'),
 (92, 'Tania', 'Ediva', 'Karry', '0747580169', 'Ediva_Karry0@hotmail.com'),
 (93, 'Drusilla', 'Zahara', 'Agneta', '0741650739', 'Zahara_Agneta1@hotmail.com'),
 (94, 'Allianora', 'Dolorita', 'Judie', '0126597103', 'Allianora.Dolorita@live.com'),
 (95, 'Teriann', 'Valida', 'Kat', '0729406713', 'Teriann_Valida@yahoo.com'),
 (96, 'Kissee', 'Evanne', 'Izabel', '0126517280', 'Kissee.Evanne@live.com'),
 (97, 'Renate', 'Monah', 'Mariquilla', '0816531482', 'Monah7@yahoo.com'),
 (98, 'Dixie', 'Christina', 'Murial', '0747306829', 'Christina_Murial8@hotmail.com'),
 (99, 'Candie', 'Faina', 'Rhetta', '0614873056', 'Faina3@hotmail.com'),
 (100, 'Val', 'Lauretta', 'Dolley', '0127986412', 'Val.Lauretta@live.com')]

<h2>Sorting and Aggregate Functions</h2>
<ul>
    <li>SUM, MIN, MAX</li>
    <li>COUNT</li>
    <li>ORDER BY</li>
    <li>LIMIT</li>
    <li>GROUP BY</li>
    <li>HAVING  (WHERE statements used in a group by query)</li>
</ul>

In [85]:
%%sql

SELECT COUNT(*) AS 'num of products', MIN(PRICE) AS 'minimum price',  MAX(price) AS 'maximum price'
, SUM(price)/COUNT(*) AS 'average price' FROM prd_list;

 * sqlite:///sales_db.db
Done.

[(16, 1199, 8499, 4092)]

In [101]:
%%sql

SELECT * FROM prd_list WHERE (price < 4000) ORDER BY price ASC;

 * sqlite:///sales_db.db
Done.

[(8, 'Nokia Asha 302', 1199, 'Nokia Asha 302'),
 (5, 'Blackberry Curve 9320', 1599, 'Blackberry Curve 9320'),
 (2, 'Sony Xperia Go', 1699, 'Sony Xperia Go'),
 (1, 'Sony Xperia J', 1899, 'Sony Xperia J'),
 (6, 'Huawei P8 Lite', 2499, 'Huawei P8 Lite'),
 (7, 'Samsung Galaxy J5 8GB', 2795, 'Samsung Galaxy J5 8GB'),
 (13, 'Huawei P10 Lite ~ Pearl White', 3295, 'Huawei P10 Lite ~ Pearl White')]

In [95]:
%%sql 

SELECT * FROM invoice_details;

 * sqlite:///sales_db.db
Done.

[(1, 1, 3),
 (1, 2, 3),
 (1, 3, 4),
 (1, 4, 1),
 (1, 13, 2),
 (1, 14, 2),
 (1, 15, 3),
 (2, 4, 1),
 (2, 10, 4),
 (3, 3, 3),
 (3, 4, 1),
 (3, 10, 2),
 (4, 5, 4),
 (5, 11, 1),
 (6, 9, 4),
 (6, 10, 3),
 (6, 13, 3),
 (7, 1, 1),
 (7, 2, 1),
 (7, 4, 3),
 (7, 5, 4),
 (7, 9, 1),
 (7, 10, 4),
 (7, 13, 1),
 (7, 16, 3),
 (8, 3, 1),
 (8, 5, 1),
 (8, 7, 2),
 (8, 15, 4),
 (9, 2, 1),
 (9, 6, 3),
 (9, 7, 4),
 (9, 11, 1),
 (9, 14, 4),
 (9, 15, 2),
 (9, 16, 1),
 (10, 3, 4),
 (10, 5, 4),
 (10, 9, 4),
 (11, 3, 4),
 (12, 1, 4),
 (12, 8, 4),
 (12, 11, 2),
 (13, 6, 1),
 (14, 4, 2),
 (14, 5, 4),
 (15, 6, 1),
 (16, 2, 3),
 (16, 7, 3),
 (16, 11, 2),
 (16, 12, 2),
 (16, 16, 3),
 (17, 6, 3),
 (17, 7, 1),
 (17, 10, 4),
 (17, 11, 3),
 (17, 12, 4),
 (17, 13, 3),
 (17, 15, 1),
 (18, 1, 4),
 (18, 3, 3),
 (18, 5, 4),
 (19, 3, 2),
 (19, 5, 4),
 (19, 6, 4),
 (19, 9, 2),
 (19, 11, 2),
 (19, 13, 2),
 (20, 2, 3),
 (20, 3, 2),
 (20, 10, 3),
 (20, 12, 4),
 (20, 13, 2),
 (20, 14, 2),
 (20, 15, 2),
 (21, 7, 2),
 (21, 14, 4),
 (21, 15, 4),
 (22, 1, 2),
 (22, 3, 4),
 (22, 14, 4),
 (23, 9, 2),
 (23, 10, 2),
 (23, 12, 2),
 (23, 13, 3),
 (24, 8, 4),
 (24, 13, 1),
 (25, 1, 3),
 (25, 2, 3),
 (25, 8, 4),
 (25, 12, 4),
 (25, 15, 3),
 (25, 16, 4),
 (26, 1, 3),
 (26, 2, 2),
 (26, 4, 4),
 (26, 10, 4),
 (26, 12, 3),
 (26, 13, 3),
 (26, 14, 3),
 (26, 16, 2),
 (27, 2, 3),
 (27, 7, 4),
 (27, 9, 2),
 (27, 10, 3),
 (27, 11, 4),
 (27, 12, 3),
 (27, 15, 1),
 (27, 16, 4),
 (28, 2, 2),
 (28, 3, 3),
 (28, 4, 2),
 (28, 7, 1),
 (28, 10, 4),
 (28, 12, 4),
 (28, 14, 4),
 (28, 15, 4),
 (29, 1, 3),
 (29, 5, 1),
 (30, 3, 4),
 (30, 6, 1),
 (30, 7, 1),
 (30, 8, 3),
 (30, 13, 2),
 (30, 15, 2),
 (31, 1, 1),
 (31, 2, 2),
 (31, 3, 3),
 (31, 6, 1),
 (31, 14, 1),
 (32, 3, 1),
 (32, 8, 1),
 (33, 2, 3),
 (33, 3, 2),
 (33, 4, 1),
 (33, 5, 4),
 (33, 9, 2),
 (33, 10, 1),
 (33, 13, 2),
 (33, 15, 2),
 (34, 4, 4),
 (35, 10, 1),
 (35, 12, 3),
 (36, 8, 1),
 (36, 11, 2),
 (36, 12, 2),
 (36, 16, 1),
 (37, 3, 2),
 (37, 5, 4),
 (37, 10, 2),
 (37, 11, 4),
 (37, 12, 3),
 (37, 14, 1),
 (38, 1, 1),
 (38, 4, 2),
 (38, 5, 1),
 (38, 15, 2),
 (39, 1, 2),
 (39, 8, 4),
 (39, 10, 3),
 (39, 13, 1),
 (40, 3, 4),
 (40, 5, 1),
 (40, 10, 2),
 (40, 13, 1),
 (40, 15, 4),
 (40, 16, 2),
 (41, 3, 3),
 (41, 4, 1),
 (41, 6, 3),
 (41, 8, 1),
 (41, 11, 4),
 (41, 14, 2),
 (42, 2, 4),
 (42, 6, 4),
 (43, 11, 1),
 (44, 1, 1),
 (44, 2, 1),
 (44, 3, 3),
 (44, 6, 2),
 (44, 7, 3),
 (44, 9, 2),
 (44, 10, 3),
 (45, 1, 3),
 (45, 12, 1),
 (45, 13, 1),
 (46, 6, 2),
 (47, 13, 1),
 (48, 2, 4),
 (48, 4, 1),
 (48, 6, 4),
 (48, 7, 3),
 (48, 9, 3),
 (48, 12, 1),
 (48, 15, 4),
 (48, 16, 1),
 (49, 13, 3),
 (50, 15, 2),
 (51, 12, 4),
 (52, 13, 1),
 (52, 14, 1),
 (53, 1, 4),
 (53, 2, 1),
 (53, 7, 2),
 (53, 10, 3),
 (53, 11, 1),
 (53, 16, 1),
 (54, 3, 2),
 (54, 5, 1),
 (54, 9, 1),
 (54, 10, 3),
 (55, 6, 3),
 (55, 9, 2),
 (55, 11, 4),
 (55, 12, 2),
 (55, 13, 1),
 (56, 1, 1),
 (56, 4, 1),
 (56, 16, 3),
 (57, 3, 2),
 (57, 4, 4),
 (57, 5, 4),
 (57, 9, 3),
 (57, 12, 3),
 (57, 14, 3),
 (58, 16, 4),
 (59, 2, 3),
 (59, 3, 3),
 (59, 4, 3),
 (59, 9, 3),
 (59, 11, 4),
 (59, 12, 1),
 (59, 16, 1),
 (60, 1, 1),
 (60, 5, 1),
 (60, 6, 4),
 (60, 13, 1),
 (60, 14, 2),
 (60, 15, 1),
 (61, 2, 1),
 (61, 4, 1),
 (61, 9, 4),
 (62, 4, 2),
 (62, 5, 4),
 (62, 6, 3),
 (62, 7, 4),
 (62, 10, 4),
 (62, 12, 2),
 (62, 16, 4),
 (63, 1, 3),
 (63, 3, 1),
 (63, 6, 2),
 (63, 9, 2),
 (63, 11, 4),
 (63, 13, 3),
 (64, 14, 2),
 (64, 16, 1),
 (65, 10, 4),
 (66, 4, 3),
 (66, 13, 4),
 (66, 15, 4),
 (67, 11, 1),
 (67, 13, 1),
 (67, 14, 4),
 (67, 15, 2),
 (68, 15, 1),
 (69, 1, 1),
 (69, 3, 2),
 (69, 5, 4),
 (69, 6, 3),
 (69, 9, 2),
 (69, 10, 2),
 (69, 15, 1),
 (70, 1, 3),
 (70, 2, 2),
 (70, 4, 3),
 (70, 15, 3),
 (71, 1, 4),
 (71, 15, 4),
 (71, 16, 1),
 (72, 14, 2),
 (73, 16, 4),
 (74, 3, 4),
 (74, 4, 4),
 (74, 6, 2),
 (74, 8, 4),
 (74, 11, 3),
 (74, 13, 1),
 (74, 14, 2),
 (75, 2, 4),
 (75, 4, 3),
 (75, 16, 2),
 (76, 1, 4),
 (76, 4, 2),
 (76, 5, 4),
 (76, 9, 1),
 (76, 11, 4),
 (76, 15, 3),
 (76, 16, 4),
 (77, 5, 1),
 (78, 2, 2),
 (78, 4, 2),
 (78, 6, 2),
 (78, 7, 2),
 (78, 8, 1),
 (78, 9, 1),
 (78, 10, 1),
 (78, 16, 2),
 (79, 3, 3),
 (79, 12, 3),
 (79, 16, 1),
 (80, 1, 1),
 (80, 2, 1),
 (80, 4, 2),
 (80, 6, 2),
 (80, 10, 4),
 (80, 14, 1),
 (80, 15, 2),
 (80, 16, 2),
 (81, 5, 2),
 (81, 8, 1),
 (81, 12, 4),
 (81, 14, 4),
 (81, 15, 1),
 (82, 1, 1),
 (82, 5, 2),
 (82, 6, 4),
 (82, 7, 2),
 (82, 10, 4),
 (82, 11, 3),
 (82, 14, 2),
 (83, 6, 4),
 (83, 7, 2),
 (83, 8, 2),
 (83, 10, 2),
 (83, 13, 3),
 (83, 14, 1),
 (83, 16, 1),
 (84, 1, 4),
 (84, 2, 4),
 (84, 6, 2),
 (85, 4, 2),
 (85, 8, 3),
 (85, 9, 1),
 (85, 10, 3),
 (85, 11, 1),
 (85, 14, 1),
 (85, 15, 4),
 (86, 1, 3),
 (86, 4, 2),
 (86, 5, 1),
 (86, 11, 4),
 (86, 14, 2),
 (87, 4, 1),
 (87, 8, 1),
 (87, 12, 2),
 (88, 1, 3),
 (88, 2, 4),
 (88, 5, 2),
 (88, 10, 3),
 (88, 13, 1),
 (88, 14, 2),
 (89, 3, 4),
 (89, 10, 3),
 (89, 12, 1),
 (89, 14, 4),
 (90, 1, 4),
 (90, 6, 2),
 (90, 7, 2),
 (90, 8, 3),
 (90, 10, 1),
 (90, 13, 1),
 (90, 15, 3),
 (90, 16, 4),
 (91, 4, 1),
 (91, 6, 3),
 (91, 7, 2),
 (91, 10, 2),
 (92, 1, 2),
 (92, 3, 2),
 (92, 9, 4),
 (92, 10, 3),
 (92, 11, 2),
 (92, 14, 2),
 (92, 16, 1),
 (93, 1, 1),
 (93, 2, 1),
 (93, 3, 4),
 (93, 7, 2),
 (93, 8, 2),
 (93, 13, 4),
 (93, 14, 1),
 (94, 3, 1),
 (94, 5, 4),
 (94, 11, 3),
 (94, 13, 2),
 (94, 15, 4),
 (95, 2, 4),
 (95, 3, 4),
 (95, 4, 4),
 (95, 10, 3),
 (95, 14, 2),
 (95, 15, 1),
 (95, 16, 1),
 (96, 3, 1),
 (96, 5, 4),
 (96, 9, 2),
 (96, 10, 3),
 (96, 11, 4),
 (96, 14, 1),
 (97, 2, 3),
 (97, 4, 3),
 (97, 5, 2),
 (97, 11, 2),
 (97, 12, 2),
 (97, 13, 2),
 (97, 15, 1),
 (97, 16, 3),
 (98, 12, 2),
 (99, 6, 1),
 (99, 9, 1),
 (99, 10, 4),
 (99, 14, 1),
 (99, 16, 4),
 (100, 1, 1)]

In [103]:
%%sql

SELECT inv_id, COUNT(*), SUM(qty) AS 'quantity_per_invoice', SUM(qty)/COUNT(*) AS 'average quantity per invoice' FROM invoice_details GROUP BY inv_id
HAVING (COUNT(*) > 3);

 * sqlite:///sales_db.db
Done.

[(1, 7, 18, 2),
 (7, 8, 18, 2),
 (8, 4, 8, 2),
 (9, 7, 16, 2),
 (16, 5, 13, 2),
 (17, 7, 19, 2),
 (19, 6, 16, 2),
 (20, 7, 18, 2),
 (23, 4, 9, 2),
 (25, 6, 21, 3),
 (26, 8, 24, 3),
 (27, 8, 24, 3),
 (28, 8, 24, 3),
 (30, 6, 13, 2),
 (31, 5, 8, 1),
 (33, 8, 17, 2),
 (36, 4, 6, 1),
 (37, 6, 16, 2),
 (38, 4, 6, 1),
 (39, 4, 10, 2),
 (40, 6, 14, 2),
 (41, 6, 14, 2),
 (44, 7, 15, 2),
 (48, 8, 21, 2),
 (53, 6, 12, 2),
 (54, 4, 7, 1),
 (55, 5, 12, 2),
 (57, 6, 19, 3),
 (59, 7, 18, 2),
 (60, 6, 10, 1),
 (62, 7, 23, 3),
 (63, 6, 15, 2),
 (67, 4, 8, 2),
 (69, 7, 15, 2),
 (70, 4, 11, 2),
 (74, 7, 20, 2),
 (76, 7, 22, 3),
 (78, 8, 13, 1),
 (80, 8, 15, 1),
 (81, 5, 12, 2),
 (82, 7, 18, 2),
 (83, 7, 15, 2),
 (85, 7, 15, 2),
 (86, 5, 12, 2),
 (88, 6, 15, 2),
 (89, 4, 12, 3),
 (90, 8, 20, 2),
 (91, 4, 8, 2),
 (92, 7, 16, 2),
 (93, 7, 15, 2),
 (94, 5, 14, 2),
 (95, 7, 19, 2),
 (96, 6, 15, 2),
 (97, 8, 18, 2),
 (99, 5, 11, 2)]

In [27]:
%%sql

SELECT * FROM invoice_details INNER JOIN invoice ON invoice_details.inv_id == invoice.invoice_id

 * sqlite:///sales_db.db
Done.

[(1, 1, 3, 1, 1, '2018-02-18 00:00:00'),
 (1, 2, 3, 1, 1, '2018-02-18 00:00:00'),
 (1, 3, 4, 1, 1, '2018-02-18 00:00:00'),
 (1, 4, 1, 1, 1, '2018-02-18 00:00:00'),
 (1, 13, 2, 1, 1, '2018-02-18 00:00:00'),
 (1, 14, 2, 1, 1, '2018-02-18 00:00:00'),
 (1, 15, 3, 1, 1, '2018-02-18 00:00:00'),
 (2, 4, 1, 2, 2, '2018-09-21 00:00:00'),
 (2, 10, 4, 2, 2, '2018-09-21 00:00:00'),
 (3, 3, 3, 3, 3, '2018-01-08 00:00:00'),
 (3, 4, 1, 3, 3, '2018-01-08 00:00:00'),
 (3, 10, 2, 3, 3, '2018-01-08 00:00:00'),
 (4, 5, 4, 4, 4, '2018-09-04 00:00:00'),
 (5, 11, 1, 5, 5, '2018-06-01 00:00:00'),
 (6, 9, 4, 6, 6, '2018-03-15 00:00:00'),
 (6, 10, 3, 6, 6, '2018-03-15 00:00:00'),
 (6, 13, 3, 6, 6, '2018-03-15 00:00:00'),
 (7, 1, 1, 7, 7, '2018-08-13 00:00:00'),
 (7, 2, 1, 7, 7, '2018-08-13 00:00:00'),
 (7, 4, 3, 7, 7, '2018-08-13 00:00:00'),
 (7, 5, 4, 7, 7, '2018-08-13 00:00:00'),
 (7, 9, 1, 7, 7, '2018-08-13 00:00:00'),
 (7, 10, 4, 7, 7, '2018-08-13 00:00:00'),
 (7, 13, 1, 7, 7, '2018-08-13 00:00:00'),
 (7, 16, 3, 7, 7, '2018-08-13 00:00:00'),
 (8, 3, 1, 8, 8, '2018-03-06 00:00:00'),
 (8, 5, 1, 8, 8, '2018-03-06 00:00:00'),
 (8, 7, 2, 8, 8, '2018-03-06 00:00:00'),
 (8, 15, 4, 8, 8, '2018-03-06 00:00:00'),
 (9, 2, 1, 9, 9, '2018-11-01 00:00:00'),
 (9, 6, 3, 9, 9, '2018-11-01 00:00:00'),
 (9, 7, 4, 9, 9, '2018-11-01 00:00:00'),
 (9, 11, 1, 9, 9, '2018-11-01 00:00:00'),
 (9, 14, 4, 9, 9, '2018-11-01 00:00:00'),
 (9, 15, 2, 9, 9, '2018-11-01 00:00:00'),
 (9, 16, 1, 9, 9, '2018-11-01 00:00:00'),
 (10, 3, 4, 10, 10, '2018-01-01 00:00:00'),
 (10, 5, 4, 10, 10, '2018-01-01 00:00:00'),
 (10, 9, 4, 10, 10, '2018-01-01 00:00:00'),
 (11, 3, 4, 11, 11, '2018-06-21 00:00:00'),
 (12, 1, 4, 12, 12, '2018-08-04 00:00:00'),
 (12, 8, 4, 12, 12, '2018-08-04 00:00:00'),
 (12, 11, 2, 12, 12, '2018-08-04 00:00:00'),
 (13, 6, 1, 13, 13, '2018-06-25 00:00:00'),
 (14, 4, 2, 14, 14, '2018-11-06 00:00:00'),
 (14, 5, 4, 14, 14, '2018-11-06 00:00:00'),
 (15, 6, 1, 15, 15, '2018-10-15 00:00:00'),
 (16, 2, 3, 16, 16, '2018-10-17 00:00:00'),
 (16, 7, 3, 16, 16, '2018-10-17 00:00:00'),
 (16, 11, 2, 16, 16, '2018-10-17 00:00:00'),
 (16, 12, 2, 16, 16, '2018-10-17 00:00:00'),
 (16, 16, 3, 16, 16, '2018-10-17 00:00:00'),
 (17, 6, 3, 17, 17, '2018-04-03 00:00:00'),
 (17, 7, 1, 17, 17, '2018-04-03 00:00:00'),
 (17, 10, 4, 17, 17, '2018-04-03 00:00:00'),
 (17, 11, 3, 17, 17, '2018-04-03 00:00:00'),
 (17, 12, 4, 17, 17, '2018-04-03 00:00:00'),
 (17, 13, 3, 17, 17, '2018-04-03 00:00:00'),
 (17, 15, 1, 17, 17, '2018-04-03 00:00:00'),
 (18, 1, 4, 18, 18, '2018-10-22 00:00:00'),
 (18, 3, 3, 18, 18, '2018-10-22 00:00:00'),
 (18, 5, 4, 18, 18, '2018-10-22 00:00:00'),
 (19, 3, 2, 19, 19, '2018-02-02 00:00:00'),
 (19, 5, 4, 19, 19, '2018-02-02 00:00:00'),
 (19, 6, 4, 19, 19, '2018-02-02 00:00:00'),
 (19, 9, 2, 19, 19, '2018-02-02 00:00:00'),
 (19, 11, 2, 19, 19, '2018-02-02 00:00:00'),
 (19, 13, 2, 19, 19, '2018-02-02 00:00:00'),
 (20, 2, 3, 20, 20, '2018-02-13 00:00:00'),
 (20, 3, 2, 20, 20, '2018-02-13 00:00:00'),
 (20, 10, 3, 20, 20, '2018-02-13 00:00:00'),
 (20, 12, 4, 20, 20, '2018-02-13 00:00:00'),
 (20, 13, 2, 20, 20, '2018-02-13 00:00:00'),
 (20, 14, 2, 20, 20, '2018-02-13 00:00:00'),
 (20, 15, 2, 20, 20, '2018-02-13 00:00:00'),
 (21, 7, 2, 21, 21, '2018-02-11 00:00:00'),
 (21, 14, 4, 21, 21, '2018-02-11 00:00:00'),
 (21, 15, 4, 21, 21, '2018-02-11 00:00:00'),
 (22, 1, 2, 22, 22, '2018-04-08 00:00:00'),
 (22, 3, 4, 22, 22, '2018-04-08 00:00:00'),
 (22, 14, 4, 22, 22, '2018-04-08 00:00:00'),
 (23, 9, 2, 23, 23, '2018-07-09 00:00:00'),
 (23, 10, 2, 23, 23, '2018-07-09 00:00:00'),
 (23, 12, 2, 23, 23, '2018-07-09 00:00:00'),
 (23, 13, 3, 23, 23, '2018-07-09 00:00:00'),
 (24, 8, 4, 24, 24, '2018-04-01 00:00:00'),
 (24, 13, 1, 24, 24, '2018-04-01 00:00:00'),
 (25, 1, 3, 25, 25, '2018-06-11 00:00:00'),
 (25, 2, 3, 25, 25, '2018-06-11 00:00:00'),
 (25, 8, 4, 25, 25, '2018-06-11 00:00:00'),
 (25, 12, 4, 25, 25, '2018-06-11 00:00:00'),
 (25, 15, 3, 25, 25, '2018-06-11 00:00:00'),
 (25, 16, 4, 25, 25, '2018-06-11 00:00:00'),
 (26, 1, 3, 26, 26, '2018-07-18 00:00:00'),
 (26, 2, 2, 26, 26, '2018-07-18 00:00:00'),
 (26, 4, 4, 26, 26, '2018-07-18 00:00:00'),
 (26, 10, 4, 26, 26, '2018-07-18 00:00:00'),
 (26, 12, 3, 26, 26, '2018-07-18 00:00:00'),
 (26, 13, 3, 26, 26, '2018-07-18 00:00:00'),
 (26, 14, 3, 26, 26, '2018-07-18 00:00:00'),
 (26, 16, 2, 26, 26, '2018-07-18 00:00:00'),
 (27, 2, 3, 27, 27, '2018-10-06 00:00:00'),
 (27, 7, 4, 27, 27, '2018-10-06 00:00:00'),
 (27, 9, 2, 27, 27, '2018-10-06 00:00:00'),
 (27, 10, 3, 27, 27, '2018-10-06 00:00:00'),
 (27, 11, 4, 27, 27, '2018-10-06 00:00:00'),
 (27, 12, 3, 27, 27, '2018-10-06 00:00:00'),
 (27, 15, 1, 27, 27, '2018-10-06 00:00:00'),
 (27, 16, 4, 27, 27, '2018-10-06 00:00:00'),
 (28, 2, 2, 28, 28, '2018-07-01 00:00:00'),
 (28, 3, 3, 28, 28, '2018-07-01 00:00:00'),
 (28, 4, 2, 28, 28, '2018-07-01 00:00:00'),
 (28, 7, 1, 28, 28, '2018-07-01 00:00:00'),
 (28, 10, 4, 28, 28, '2018-07-01 00:00:00'),
 (28, 12, 4, 28, 28, '2018-07-01 00:00:00'),
 (28, 14, 4, 28, 28, '2018-07-01 00:00:00'),
 (28, 15, 4, 28, 28, '2018-07-01 00:00:00'),
 (29, 1, 3, 29, 29, '2018-01-11 00:00:00'),
 (29, 5, 1, 29, 29, '2018-01-11 00:00:00'),
 (30, 3, 4, 30, 30, '2018-07-16 00:00:00'),
 (30, 6, 1, 30, 30, '2018-07-16 00:00:00'),
 (30, 7, 1, 30, 30, '2018-07-16 00:00:00'),
 (30, 8, 3, 30, 30, '2018-07-16 00:00:00'),
 (30, 13, 2, 30, 30, '2018-07-16 00:00:00'),
 (30, 15, 2, 30, 30, '2018-07-16 00:00:00'),
 (31, 1, 1, 31, 31, '2018-01-21 00:00:00'),
 (31, 2, 2, 31, 31, '2018-01-21 00:00:00'),
 (31, 3, 3, 31, 31, '2018-01-21 00:00:00'),
 (31, 6, 1, 31, 31, '2018-01-21 00:00:00'),
 (31, 14, 1, 31, 31, '2018-01-21 00:00:00'),
 (32, 3, 1, 32, 32, '2018-10-20 00:00:00'),
 (32, 8, 1, 32, 32, '2018-10-20 00:00:00'),
 (33, 2, 3, 33, 33, '2018-08-02 00:00:00'),
 (33, 3, 2, 33, 33, '2018-08-02 00:00:00'),
 (33, 4, 1, 33, 33, '2018-08-02 00:00:00'),
 (33, 5, 4, 33, 33, '2018-08-02 00:00:00'),
 (33, 9, 2, 33, 33, '2018-08-02 00:00:00'),
 (33, 10, 1, 33, 33, '2018-08-02 00:00:00'),
 (33, 13, 2, 33, 33, '2018-08-02 00:00:00'),
 (33, 15, 2, 33, 33, '2018-08-02 00:00:00'),
 (34, 4, 4, 34, 34, '2018-07-19 00:00:00'),
 (35, 10, 1, 35, 35, '2018-12-22 00:00:00'),
 (35, 12, 3, 35, 35, '2018-12-22 00:00:00'),
 (36, 8, 1, 36, 36, '2018-02-04 00:00:00'),
 (36, 11, 2, 36, 36, '2018-02-04 00:00:00'),
 (36, 12, 2, 36, 36, '2018-02-04 00:00:00'),
 (36, 16, 1, 36, 36, '2018-02-04 00:00:00'),
 (37, 3, 2, 37, 37, '2018-10-01 00:00:00'),
 (37, 5, 4, 37, 37, '2018-10-01 00:00:00'),
 (37, 10, 2, 37, 37, '2018-10-01 00:00:00'),
 (37, 11, 4, 37, 37, '2018-10-01 00:00:00'),
 (37, 12, 3, 37, 37, '2018-10-01 00:00:00'),
 (37, 14, 1, 37, 37, '2018-10-01 00:00:00'),
 (38, 1, 1, 38, 38, '2018-12-21 00:00:00'),
 (38, 4, 2, 38, 38, '2018-12-21 00:00:00'),
 (38, 5, 1, 38, 38, '2018-12-21 00:00:00'),
 (38, 15, 2, 38, 38, '2018-12-21 00:00:00'),
 (39, 1, 2, 39, 39, '2018-08-13 00:00:00'),
 (39, 8, 4, 39, 39, '2018-08-13 00:00:00'),
 (39, 10, 3, 39, 39, '2018-08-13 00:00:00'),
 (39, 13, 1, 39, 39, '2018-08-13 00:00:00'),
 (40, 3, 4, 40, 40, '2018-07-20 00:00:00'),
 (40, 5, 1, 40, 40, '2018-07-20 00:00:00'),
 (40, 10, 2, 40, 40, '2018-07-20 00:00:00'),
 (40, 13, 1, 40, 40, '2018-07-20 00:00:00'),
 (40, 15, 4, 40, 40, '2018-07-20 00:00:00'),
 (40, 16, 2, 40, 40, '2018-07-20 00:00:00'),
 (41, 3, 3, 41, 41, '2018-01-21 00:00:00'),
 (41, 4, 1, 41, 41, '2018-01-21 00:00:00'),
 (41, 6, 3, 41, 41, '2018-01-21 00:00:00'),
 (41, 8, 1, 41, 41, '2018-01-21 00:00:00'),
 (41, 11, 4, 41, 41, '2018-01-21 00:00:00'),
 (41, 14, 2, 41, 41, '2018-01-21 00:00:00'),
 (42, 2, 4, 42, 42, '2018-04-15 00:00:00'),
 (42, 6, 4, 42, 42, '2018-04-15 00:00:00'),
 (43, 11, 1, 43, 43, '2018-12-20 00:00:00'),
 (44, 1, 1, 44, 44, '2018-11-10 00:00:00'),
 (44, 2, 1, 44, 44, '2018-11-10 00:00:00'),
 (44, 3, 3, 44, 44, '2018-11-10 00:00:00'),
 (44, 6, 2, 44, 44, '2018-11-10 00:00:00'),
 (44, 7, 3, 44, 44, '2018-11-10 00:00:00'),
 (44, 9, 2, 44, 44, '2018-11-10 00:00:00'),
 (44, 10, 3, 44, 44, '2018-11-10 00:00:00'),
 (45, 1, 3, 45, 45, '2018-02-15 00:00:00'),
 (45, 12, 1, 45, 45, '2018-02-15 00:00:00'),
 (45, 13, 1, 45, 45, '2018-02-15 00:00:00'),
 (46, 6, 2, 46, 46, '2018-06-11 00:00:00'),
 (47, 13, 1, 47, 47, '2018-01-16 00:00:00'),
 (48, 2, 4, 48, 48, '2018-04-09 00:00:00'),
 (48, 4, 1, 48, 48, '2018-04-09 00:00:00'),
 (48, 6, 4, 48, 48, '2018-04-09 00:00:00'),
 (48, 7, 3, 48, 48, '2018-04-09 00:00:00'),
 (48, 9, 3, 48, 48, '2018-04-09 00:00:00'),
 (48, 12, 1, 48, 48, '2018-04-09 00:00:00'),
 (48, 15, 4, 48, 48, '2018-04-09 00:00:00'),
 (48, 16, 1, 48, 48, '2018-04-09 00:00:00'),
 (49, 13, 3, 49, 49, '2018-02-19 00:00:00'),
 (50, 15, 2, 50, 50, '2018-04-21 00:00:00'),
 (51, 12, 4, 51, 51, '2018-10-03 00:00:00'),
 (52, 13, 1, 52, 52, '2018-11-23 00:00:00'),
 (52, 14, 1, 52, 52, '2018-11-23 00:00:00'),
 (53, 1, 4, 53, 53, '2018-04-18 00:00:00'),
 (53, 2, 1, 53, 53, '2018-04-18 00:00:00'),
 (53, 7, 2, 53, 53, '2018-04-18 00:00:00'),
 (53, 10, 3, 53, 53, '2018-04-18 00:00:00'),
 (53, 11, 1, 53, 53, '2018-04-18 00:00:00'),
 (53, 16, 1, 53, 53, '2018-04-18 00:00:00'),
 (54, 3, 2, 54, 54, '2018-10-09 00:00:00'),
 (54, 5, 1, 54, 54, '2018-10-09 00:00:00'),
 (54, 9, 1, 54, 54, '2018-10-09 00:00:00'),
 (54, 10, 3, 54, 54, '2018-10-09 00:00:00'),
 (55, 6, 3, 55, 55, '2018-06-07 00:00:00'),
 (55, 9, 2, 55, 55, '2018-06-07 00:00:00'),
 (55, 11, 4, 55, 55, '2018-06-07 00:00:00'),
 (55, 12, 2, 55, 55, '2018-06-07 00:00:00'),
 (55, 13, 1, 55, 55, '2018-06-07 00:00:00'),
 (56, 1, 1, 56, 56, '2018-06-08 00:00:00'),
 (56, 4, 1, 56, 56, '2018-06-08 00:00:00'),
 (56, 16, 3, 56, 56, '2018-06-08 00:00:00'),
 (57, 3, 2, 57, 57, '2018-12-03 00:00:00'),
 (57, 4, 4, 57, 57, '2018-12-03 00:00:00'),
 (57, 5, 4, 57, 57, '2018-12-03 00:00:00'),
 (57, 9, 3, 57, 57, '2018-12-03 00:00:00'),
 (57, 12, 3, 57, 57, '2018-12-03 00:00:00'),
 (57, 14, 3, 57, 57, '2018-12-03 00:00:00'),
 (58, 16, 4, 58, 58, '2018-05-21 00:00:00'),
 (59, 2, 3, 59, 59, '2018-03-17 00:00:00'),
 (59, 3, 3, 59, 59, '2018-03-17 00:00:00'),
 (59, 4, 3, 59, 59, '2018-03-17 00:00:00'),
 (59, 9, 3, 59, 59, '2018-03-17 00:00:00'),
 (59, 11, 4, 59, 59, '2018-03-17 00:00:00'),
 (59, 12, 1, 59, 59, '2018-03-17 00:00:00'),
 (59, 16, 1, 59, 59, '2018-03-17 00:00:00'),
 (60, 1, 1, 60, 60, '2018-09-20 00:00:00'),
 (60, 5, 1, 60, 60, '2018-09-20 00:00:00'),
 (60, 6, 4, 60, 60, '2018-09-20 00:00:00'),
 (60, 13, 1, 60, 60, '2018-09-20 00:00:00'),
 (60, 14, 2, 60, 60, '2018-09-20 00:00:00'),
 (60, 15, 1, 60, 60, '2018-09-20 00:00:00'),
 (61, 2, 1, 61, 61, '2018-04-25 00:00:00'),
 (61, 4, 1, 61, 61, '2018-04-25 00:00:00'),
 (61, 9, 4, 61, 61, '2018-04-25 00:00:00'),
 (62, 4, 2, 62, 62, '2018-11-04 00:00:00'),
 (62, 5, 4, 62, 62, '2018-11-04 00:00:00'),
 (62, 6, 3, 62, 62, '2018-11-04 00:00:00'),
 (62, 7, 4, 62, 62, '2018-11-04 00:00:00'),
 (62, 10, 4, 62, 62, '2018-11-04 00:00:00'),
 (62, 12, 2, 62, 62, '2018-11-04 00:00:00'),
 (62, 16, 4, 62, 62, '2018-11-04 00:00:00'),
 (63, 1, 3, 63, 63, '2018-07-12 00:00:00'),
 (63, 3, 1, 63, 63, '2018-07-12 00:00:00'),
 (63, 6, 2, 63, 63, '2018-07-12 00:00:00'),
 (63, 9, 2, 63, 63, '2018-07-12 00:00:00'),
 (63, 11, 4, 63, 63, '2018-07-12 00:00:00'),
 (63, 13, 3, 63, 63, '2018-07-12 00:00:00'),
 (64, 14, 2, 64, 64, '2018-12-19 00:00:00'),
 (64, 16, 1, 64, 64, '2018-12-19 00:00:00'),
 (65, 10, 4, 65, 65, '2018-05-18 00:00:00'),
 (66, 4, 3, 66, 66, '2018-04-19 00:00:00'),
 (66, 13, 4, 66, 66, '2018-04-19 00:00:00'),
 (66, 15, 4, 66, 66, '2018-04-19 00:00:00'),
 (67, 11, 1, 67, 67, '2018-06-04 00:00:00'),
 (67, 13, 1, 67, 67, '2018-06-04 00:00:00'),
 (67, 14, 4, 67, 67, '2018-06-04 00:00:00'),
 (67, 15, 2, 67, 67, '2018-06-04 00:00:00'),
 (68, 15, 1, 68, 68, '2018-11-16 00:00:00'),
 (69, 1, 1, 69, 69, '2018-11-07 00:00:00'),
 (69, 3, 2, 69, 69, '2018-11-07 00:00:00'),
 (69, 5, 4, 69, 69, '2018-11-07 00:00:00'),
 (69, 6, 3, 69, 69, '2018-11-07 00:00:00'),
 (69, 9, 2, 69, 69, '2018-11-07 00:00:00'),
 (69, 10, 2, 69, 69, '2018-11-07 00:00:00'),
 (69, 15, 1, 69, 69, '2018-11-07 00:00:00'),
 (70, 1, 3, 70, 70, '2018-10-26 00:00:00'),
 (70, 2, 2, 70, 70, '2018-10-26 00:00:00'),
 (70, 4, 3, 70, 70, '2018-10-26 00:00:00'),
 (70, 15, 3, 70, 70, '2018-10-26 00:00:00'),
 (71, 1, 4, 71, 71, '2018-07-25 00:00:00'),
 (71, 15, 4, 71, 71, '2018-07-25 00:00:00'),
 (71, 16, 1, 71, 71, '2018-07-25 00:00:00'),
 (72, 14, 2, 72, 72, '2018-12-22 00:00:00'),
 (73, 16, 4, 73, 73, '2018-08-14 00:00:00'),
 (74, 3, 4, 74, 74, '2018-05-26 00:00:00'),
 (74, 4, 4, 74, 74, '2018-05-26 00:00:00'),
 (74, 6, 2, 74, 74, '2018-05-26 00:00:00'),
 (74, 8, 4, 74, 74, '2018-05-26 00:00:00'),
 (74, 11, 3, 74, 74, '2018-05-26 00:00:00'),
 (74, 13, 1, 74, 74, '2018-05-26 00:00:00'),
 (74, 14, 2, 74, 74, '2018-05-26 00:00:00'),
 (75, 2, 4, 75, 75, '2018-12-21 00:00:00'),
 (75, 4, 3, 75, 75, '2018-12-21 00:00:00'),
 (75, 16, 2, 75, 75, '2018-12-21 00:00:00'),
 (76, 1, 4, 76, 76, '2018-06-22 00:00:00'),
 (76, 4, 2, 76, 76, '2018-06-22 00:00:00'),
 (76, 5, 4, 76, 76, '2018-06-22 00:00:00'),
 (76, 9, 1, 76, 76, '2018-06-22 00:00:00'),
 (76, 11, 4, 76, 76, '2018-06-22 00:00:00'),
 (76, 15, 3, 76, 76, '2018-06-22 00:00:00'),
 (76, 16, 4, 76, 76, '2018-06-22 00:00:00'),
 (77, 5, 1, 77, 77, '2018-01-18 00:00:00'),
 (78, 2, 2, 78, 78, '2018-07-03 00:00:00'),
 (78, 4, 2, 78, 78, '2018-07-03 00:00:00'),
 (78, 6, 2, 78, 78, '2018-07-03 00:00:00'),
 (78, 7, 2, 78, 78, '2018-07-03 00:00:00'),
 (78, 8, 1, 78, 78, '2018-07-03 00:00:00'),
 (78, 9, 1, 78, 78, '2018-07-03 00:00:00'),
 (78, 10, 1, 78, 78, '2018-07-03 00:00:00'),
 (78, 16, 2, 78, 78, '2018-07-03 00:00:00'),
 (79, 3, 3, 79, 79, '2018-01-18 00:00:00'),
 (79, 12, 3, 79, 79, '2018-01-18 00:00:00'),
 (79, 16, 1, 79, 79, '2018-01-18 00:00:00'),
 (80, 1, 1, 80, 80, '2018-09-17 00:00:00'),
 (80, 2, 1, 80, 80, '2018-09-17 00:00:00'),
 (80, 4, 2, 80, 80, '2018-09-17 00:00:00'),
 (80, 6, 2, 80, 80, '2018-09-17 00:00:00'),
 (80, 10, 4, 80, 80, '2018-09-17 00:00:00'),
 (80, 14, 1, 80, 80, '2018-09-17 00:00:00'),
 (80, 15, 2, 80, 80, '2018-09-17 00:00:00'),
 (80, 16, 2, 80, 80, '2018-09-17 00:00:00'),
 (81, 5, 2, 81, 81, '2018-10-22 00:00:00'),
 (81, 8, 1, 81, 81, '2018-10-22 00:00:00'),
 (81, 12, 4, 81, 81, '2018-10-22 00:00:00'),
 (81, 14, 4, 81, 81, '2018-10-22 00:00:00'),
 (81, 15, 1, 81, 81, '2018-10-22 00:00:00'),
 (82, 1, 1, 82, 82, '2018-07-06 00:00:00'),
 (82, 5, 2, 82, 82, '2018-07-06 00:00:00'),
 (82, 6, 4, 82, 82, '2018-07-06 00:00:00'),
 (82, 7, 2, 82, 82, '2018-07-06 00:00:00'),
 (82, 10, 4, 82, 82, '2018-07-06 00:00:00'),
 (82, 11, 3, 82, 82, '2018-07-06 00:00:00'),
 (82, 14, 2, 82, 82, '2018-07-06 00:00:00'),
 (83, 6, 4, 83, 83, '2018-12-17 00:00:00'),
 (83, 7, 2, 83, 83, '2018-12-17 00:00:00'),
 (83, 8, 2, 83, 83, '2018-12-17 00:00:00'),
 (83, 10, 2, 83, 83, '2018-12-17 00:00:00'),
 (83, 13, 3, 83, 83, '2018-12-17 00:00:00'),
 (83, 14, 1, 83, 83, '2018-12-17 00:00:00'),
 (83, 16, 1, 83, 83, '2018-12-17 00:00:00'),
 (84, 1, 4, 84, 84, '2018-02-08 00:00:00'),
 (84, 2, 4, 84, 84, '2018-02-08 00:00:00'),
 (84, 6, 2, 84, 84, '2018-02-08 00:00:00'),
 (85, 4, 2, 85, 85, '2018-01-10 00:00:00'),
 (85, 8, 3, 85, 85, '2018-01-10 00:00:00'),
 (85, 9, 1, 85, 85, '2018-01-10 00:00:00'),
 (85, 10, 3, 85, 85, '2018-01-10 00:00:00'),
 (85, 11, 1, 85, 85, '2018-01-10 00:00:00'),
 (85, 14, 1, 85, 85, '2018-01-10 00:00:00'),
 (85, 15, 4, 85, 85, '2018-01-10 00:00:00'),
 (86, 1, 3, 86, 86, '2018-01-26 00:00:00'),
 (86, 4, 2, 86, 86, '2018-01-26 00:00:00'),
 (86, 5, 1, 86, 86, '2018-01-26 00:00:00'),
 (86, 11, 4, 86, 86, '2018-01-26 00:00:00'),
 (86, 14, 2, 86, 86, '2018-01-26 00:00:00'),
 (87, 4, 1, 87, 87, '2018-04-11 00:00:00'),
 (87, 8, 1, 87, 87, '2018-04-11 00:00:00'),
 (87, 12, 2, 87, 87, '2018-04-11 00:00:00'),
 (88, 1, 3, 88, 88, '2018-08-18 00:00:00'),
 (88, 2, 4, 88, 88, '2018-08-18 00:00:00'),
 (88, 5, 2, 88, 88, '2018-08-18 00:00:00'),
 (88, 10, 3, 88, 88, '2018-08-18 00:00:00'),
 (88, 13, 1, 88, 88, '2018-08-18 00:00:00'),
 (88, 14, 2, 88, 88, '2018-08-18 00:00:00'),
 (89, 3, 4, 89, 89, '2018-05-16 00:00:00'),
 (89, 10, 3, 89, 89, '2018-05-16 00:00:00'),
 (89, 12, 1, 89, 89, '2018-05-16 00:00:00'),
 (89, 14, 4, 89, 89, '2018-05-16 00:00:00'),
 (90, 1, 4, 90, 90, '2018-09-21 00:00:00'),
 (90, 6, 2, 90, 90, '2018-09-21 00:00:00'),
 (90, 7, 2, 90, 90, '2018-09-21 00:00:00'),
 (90, 8, 3, 90, 90, '2018-09-21 00:00:00'),
 (90, 10, 1, 90, 90, '2018-09-21 00:00:00'),
 (90, 13, 1, 90, 90, '2018-09-21 00:00:00'),
 (90, 15, 3, 90, 90, '2018-09-21 00:00:00'),
 (90, 16, 4, 90, 90, '2018-09-21 00:00:00'),
 (91, 4, 1, 91, 91, '2018-02-04 00:00:00'),
 (91, 6, 3, 91, 91, '2018-02-04 00:00:00'),
 (91, 7, 2, 91, 91, '2018-02-04 00:00:00'),
 (91, 10, 2, 91, 91, '2018-02-04 00:00:00'),
 (92, 1, 2, 92, 92, '2018-04-19 00:00:00'),
 (92, 3, 2, 92, 92, '2018-04-19 00:00:00'),
 (92, 9, 4, 92, 92, '2018-04-19 00:00:00'),
 (92, 10, 3, 92, 92, '2018-04-19 00:00:00'),
 (92, 11, 2, 92, 92, '2018-04-19 00:00:00'),
 (92, 14, 2, 92, 92, '2018-04-19 00:00:00'),
 (92, 16, 1, 92, 92, '2018-04-19 00:00:00'),
 (93, 1, 1, 93, 93, '2018-04-09 00:00:00'),
 (93, 2, 1, 93, 93, '2018-04-09 00:00:00'),
 (93, 3, 4, 93, 93, '2018-04-09 00:00:00'),
 (93, 7, 2, 93, 93, '2018-04-09 00:00:00'),
 (93, 8, 2, 93, 93, '2018-04-09 00:00:00'),
 (93, 13, 4, 93, 93, '2018-04-09 00:00:00'),
 (93, 14, 1, 93, 93, '2018-04-09 00:00:00'),
 (94, 3, 1, 94, 94, '2018-04-13 00:00:00'),
 (94, 5, 4, 94, 94, '2018-04-13 00:00:00'),
 (94, 11, 3, 94, 94, '2018-04-13 00:00:00'),
 (94, 13, 2, 94, 94, '2018-04-13 00:00:00'),
 (94, 15, 4, 94, 94, '2018-04-13 00:00:00'),
 (95, 2, 4, 95, 95, '2018-12-18 00:00:00'),
 (95, 3, 4, 95, 95, '2018-12-18 00:00:00'),
 (95, 4, 4, 95, 95, '2018-12-18 00:00:00'),
 (95, 10, 3, 95, 95, '2018-12-18 00:00:00'),
 (95, 14, 2, 95, 95, '2018-12-18 00:00:00'),
 (95, 15, 1, 95, 95, '2018-12-18 00:00:00'),
 (95, 16, 1, 95, 95, '2018-12-18 00:00:00'),
 (96, 3, 1, 96, 96, '2018-12-19 00:00:00'),
 (96, 5, 4, 96, 96, '2018-12-19 00:00:00'),
 (96, 9, 2, 96, 96, '2018-12-19 00:00:00'),
 (96, 10, 3, 96, 96, '2018-12-19 00:00:00'),
 (96, 11, 4, 96, 96, '2018-12-19 00:00:00'),
 (96, 14, 1, 96, 96, '2018-12-19 00:00:00'),
 (97, 2, 3, 97, 97, '2018-11-23 00:00:00'),
 (97, 4, 3, 97, 97, '2018-11-23 00:00:00'),
 (97, 5, 2, 97, 97, '2018-11-23 00:00:00'),
 (97, 11, 2, 97, 97, '2018-11-23 00:00:00'),
 (97, 12, 2, 97, 97, '2018-11-23 00:00:00'),
 (97, 13, 2, 97, 97, '2018-11-23 00:00:00'),
 (97, 15, 1, 97, 97, '2018-11-23 00:00:00'),
 (97, 16, 3, 97, 97, '2018-11-23 00:00:00'),
 (98, 12, 2, 98, 98, '2018-12-16 00:00:00'),
 (99, 6, 1, 99, 99, '2018-02-18 00:00:00'),
 (99, 9, 1, 99, 99, '2018-02-18 00:00:00'),
 (99, 10, 4, 99, 99, '2018-02-18 00:00:00'),
 (99, 14, 1, 99, 99, '2018-02-18 00:00:00'),
 (99, 16, 4, 99, 99, '2018-02-18 00:00:00'),
 (100, 1, 1, 100, 100, '2018-08-10 00:00:00')]

In [110]:
%%sql

SELECT * FROM prd_list WHERE price < (SELECT SUM(price)/COUNT(*) FROM prd_list);

 * sqlite:///sales_db.db
Done.

[(1, 'Sony Xperia J', 1899, 'Sony Xperia J'),
 (2, 'Sony Xperia Go', 1699, 'Sony Xperia Go'),
 (5, 'Blackberry Curve 9320', 1599, 'Blackberry Curve 9320'),
 (6, 'Huawei P8 Lite', 2499, 'Huawei P8 Lite'),
 (7, 'Samsung Galaxy J5 8GB', 2795, 'Samsung Galaxy J5 8GB'),
 (8, 'Nokia Asha 302', 1199, 'Nokia Asha 302'),
 (13, 'Huawei P10 Lite ~ Pearl White', 3295, 'Huawei P10 Lite ~ Pearl White')]

<h3>Conclusion</h3>
<ul>
    <li>SELECT, INSERT, UPDATE, DELETE</li>
    <li>WHERE, LIMIT, ORDER BY</li>
    <li>GROUP BY, SUM, MIN, MAX, COUNT</li>
 </ul>
 
 Coming session: joining tables.