Please install the following first:

In [1]:
#pip install sqlalchemy

In [2]:
#pip install ipython-sql

<h1>SQL Practice Exercises</h1>

Given the sales_db database of a cellular device shop, you are requested to write SQL queries to extract 
data as per management requests.

<img src="media/sales_erd.png" width="500px"/>

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql
sqlite:///sales_db.db

In [31]:
%%sql
SELECT * FROM prd_list

 * sqlite:///sales_db.db
Done.

[(1, 'Sony Xperia J', 1899, 'Sony Xperia J'),
 (2, 'Sony Xperia Go', 1699, 'Sony Xperia Go'),
 (3, 'Sony Ericsson Xperia Arc S', 4999, 'Sony Ericsson Xperia Arc S'),
 (4, 'Blackberry Playbook 64GB', 4999, 'Blackberry Playbook 64GB'),
 (5, 'Blackberry Curve 9320', 1599, 'Blackberry Curve 9320'),
 (6, 'Huawei P8 Lite', 2499, 'Huawei P8 Lite'),
 (7, 'Samsung Galaxy J5 8GB', 2795, 'Samsung Galaxy J5 8GB'),
 (8, 'Nokia Asha 302', 1199, 'Nokia Asha 302'),
 (9, 'Nokia E6', 4999, 'Nokia E6'),
 (10, 'HTC Desire 600 Dual SIM', 4999, 'HTC Desire 600 Dual SIM'),
 (11, 'Samsung Galaxy A5 Duos', 4999, 'Samsung Galaxy A5 Duos'),
 (12, 'HTC Desire 600 Dual SIM', 4999, 'HTC Desire 600 Dual SIM'),
 (13, 'Huawei P10 Lite ~ Pearl White', 3295, 'Huawei P10 Lite ~ Pearl White'),
 (14, 'Cat S50', 6999, 'Cat S50'),
 (15, 'Apple iPad Air 2 16GB WiFi Cellular', 8499, 'Apple iPad Air 2 16GB WiFi Cellular'),
 (16, 'Sony Xperia Z5 32GB', 4999, 'Sony Xperia Z5 32GB'),
 (17, 'iPhone 13', 999, 'Latest iPhone model'),
 (18, 'Samsung Galaxy S21', 899, 'Flagship Samsung phone'),
 (19, 'Google Pixel 6', 799, 'Google flagship phone'),
 (20, 'OnePlus 9', 699, 'Premium Android device'),
 (21, 'Xiaomi Mi 11', 599, 'High-performance Xiaomi phone'),
 (22, 'LG Velvet', 499, 'Stylish LG smartphone'),
 (23, 'Sony Xperia 5 III', 899, 'Sony compact flagship'),
 (24, 'Motorola Moto G Power', 249, 'Budget-friendly Motorola phone'),
 (25, 'OnePlus Nord 2', 499, 'Mid-range OnePlus phone'),
 (26, 'Google Pixel 5a', 449, 'Affordable Google Pixel'),
 (27, 'iPhone 12', 799, 'Previous generation iPhone'),
 (28, 'Samsung Galaxy Note 20', 899, 'Large-screen Samsung phone'),
 (29, 'Google Pixel 4a', 349, 'Budget-friendly Google Pixel'),
 (30, 'OnePlus 8T', 699, 'OnePlus flagship model'),
 (31, 'Xiaomi Redmi Note 10', 279, 'Budget Xiaomi phone'),
 (32, 'LG G8 ThinQ', 399, 'Previous LG flagship'),
 (33, 'Sony Xperia 1 III', 1099, 'High-end Sony smartphone'),
 (34, 'Motorola Edge', 549, 'Motorol feature-rich phone'),
 (35, 'OnePlus Nord CE', 349, 'Compact OnePlus phone'),
 (36, 'Google Pixel 3a', 399, 'Google budget Pixel'),
 (37, 'iPhone SE (2nd Gen)', 399, 'Compact iPhone model'),
 (38, 'Samsung Galaxy A52', 349, 'Mid-range Samsung phone'),
 (39, 'Xiaomi Poco X3', 249, 'Budget-friendly Xiaomi phone'),
 (40, 'Motorola Moto G Stylus', 299, 'Motorola phone with stylus'),
 (41, 'OnePlus Nord N10', 299, 'Budget OnePlus phone'),
 (42, 'Google Pixel 4', 599, 'Previous Google Pixel model'),
 (43, 'Samsung Galaxy S20 FE', 699, 'Fan Edition Samsung phone'),
 (44, 'LG K92 5G', 349, 'LG phone with 5G support'),
 (45, 'Motorola Moto E', 149, 'Entry-level Motorola phone'),
 (46, 'Xiaomi Mi 10T Pro', 599, 'High-performance Xiaomi phone')]

<b> Question 1</b><br/><br/>
Write a SQLite command to view the list of tables in your database.
Hint: SELECT name FROM sqlite_master WHERE type='table'

<b>Question 2</b><br/><br/>
Write SQLite commands to view the structure of each tables in the database. Hint: PRAGMA table_info(xxx)

<b>Question 3</b><br/><br/>
Retrieve the names and prices of all products from the prd_list table.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   SELECT name,price FROM prd_list
</details>

<b>Question 4</b><br/><br/>
How many invoices are they in the database?

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT COUNT(*) AS 'number of invoices' FROM invoice;
</details>

<b>Question 5</b><br/><br/>
List all invoices with their associated customer names.

In [10]:
%%sql
SELECT * FROM invoice

 * sqlite:///sales_db.db
Done.

[(1, 1, '2018-02-18 00:00:00'),
 (2, 2, '2018-09-21 00:00:00'),
 (3, 3, '2018-01-08 00:00:00'),
 (4, 4, '2018-09-04 00:00:00'),
 (5, 5, '2018-06-01 00:00:00'),
 (6, 6, '2018-03-15 00:00:00'),
 (7, 7, '2018-08-13 00:00:00'),
 (8, 8, '2018-03-06 00:00:00'),
 (9, 9, '2018-11-01 00:00:00'),
 (10, 10, '2018-01-01 00:00:00'),
 (11, 11, '2018-06-21 00:00:00'),
 (12, 12, '2018-08-04 00:00:00'),
 (13, 13, '2018-06-25 00:00:00'),
 (14, 14, '2018-11-06 00:00:00'),
 (15, 15, '2018-10-15 00:00:00'),
 (16, 16, '2018-10-17 00:00:00'),
 (17, 17, '2018-04-03 00:00:00'),
 (18, 18, '2018-10-22 00:00:00'),
 (19, 19, '2018-02-02 00:00:00'),
 (20, 20, '2018-02-13 00:00:00'),
 (21, 21, '2018-02-11 00:00:00'),
 (22, 22, '2018-04-08 00:00:00'),
 (23, 23, '2018-07-09 00:00:00'),
 (24, 24, '2018-04-01 00:00:00'),
 (25, 25, '2018-06-11 00:00:00'),
 (26, 26, '2018-07-18 00:00:00'),
 (27, 27, '2018-10-06 00:00:00'),
 (28, 28, '2018-07-01 00:00:00'),
 (29, 29, '2018-01-11 00:00:00'),
 (30, 30, '2018-07-16 00:00:00'),
 (31, 31, '2018-01-21 00:00:00'),
 (32, 32, '2018-10-20 00:00:00'),
 (33, 33, '2018-08-02 00:00:00'),
 (34, 34, '2018-07-19 00:00:00'),
 (35, 35, '2018-12-22 00:00:00'),
 (36, 36, '2018-02-04 00:00:00'),
 (37, 37, '2018-10-01 00:00:00'),
 (38, 38, '2018-12-21 00:00:00'),
 (39, 39, '2018-08-13 00:00:00'),
 (40, 40, '2018-07-20 00:00:00'),
 (41, 41, '2018-01-21 00:00:00'),
 (42, 42, '2018-04-15 00:00:00'),
 (43, 43, '2018-12-20 00:00:00'),
 (44, 44, '2018-11-10 00:00:00'),
 (45, 45, '2018-02-15 00:00:00'),
 (46, 46, '2018-06-11 00:00:00'),
 (47, 47, '2018-01-16 00:00:00'),
 (48, 48, '2018-04-09 00:00:00'),
 (49, 49, '2018-02-19 00:00:00'),
 (50, 50, '2018-04-21 00:00:00'),
 (51, 51, '2018-10-03 00:00:00'),
 (52, 52, '2018-11-23 00:00:00'),
 (53, 53, '2018-04-18 00:00:00'),
 (54, 54, '2018-10-09 00:00:00'),
 (55, 55, '2018-06-07 00:00:00'),
 (56, 56, '2018-06-08 00:00:00'),
 (57, 57, '2018-12-03 00:00:00'),
 (58, 58, '2018-05-21 00:00:00'),
 (59, 59, '2018-03-17 00:00:00'),
 (60, 60, '2018-09-20 00:00:00'),
 (61, 61, '2018-04-25 00:00:00'),
 (62, 62, '2018-11-04 00:00:00'),
 (63, 63, '2018-07-12 00:00:00'),
 (64, 64, '2018-12-19 00:00:00'),
 (65, 65, '2018-05-18 00:00:00'),
 (66, 66, '2018-04-19 00:00:00'),
 (67, 67, '2018-06-04 00:00:00'),
 (68, 68, '2018-11-16 00:00:00'),
 (69, 69, '2018-11-07 00:00:00'),
 (70, 70, '2018-10-26 00:00:00'),
 (71, 71, '2018-07-25 00:00:00'),
 (72, 72, '2018-12-22 00:00:00'),
 (73, 73, '2018-08-14 00:00:00'),
 (74, 74, '2018-05-26 00:00:00'),
 (75, 75, '2018-12-21 00:00:00'),
 (76, 76, '2018-06-22 00:00:00'),
 (77, 77, '2018-01-18 00:00:00'),
 (78, 78, '2018-07-03 00:00:00'),
 (79, 79, '2018-01-18 00:00:00'),
 (80, 80, '2018-09-17 00:00:00'),
 (81, 81, '2018-10-22 00:00:00'),
 (82, 82, '2018-07-06 00:00:00'),
 (83, 83, '2018-12-17 00:00:00'),
 (84, 84, '2018-02-08 00:00:00'),
 (85, 85, '2018-01-10 00:00:00'),
 (86, 86, '2018-01-26 00:00:00'),
 (87, 87, '2018-04-11 00:00:00'),
 (88, 88, '2018-08-18 00:00:00'),
 (89, 89, '2018-05-16 00:00:00'),
 (90, 90, '2018-09-21 00:00:00'),
 (91, 91, '2018-02-04 00:00:00'),
 (92, 92, '2018-04-19 00:00:00'),
 (93, 93, '2018-04-09 00:00:00'),
 (94, 94, '2018-04-13 00:00:00'),
 (95, 95, '2018-12-18 00:00:00'),
 (96, 96, '2018-12-19 00:00:00'),
 (97, 97, '2018-11-23 00:00:00'),
 (98, 98, '2018-12-16 00:00:00'),
 (99, 99, '2018-02-18 00:00:00'),
 (100, 100, '2018-08-10 00:00:00')]

In [25]:
%%sql

SELECT DISTINCT c.name, c.surname  FROM customer_list AS c LEFT JOIN invoice ON customer_list.id = invoice.cust_id 
WHERE invoice_id IS NOT NULL

 * sqlite:///sales_db.db
(sqlite3.OperationalError) no such column: customer_list.id
[SQL: SELECT DISTINCT c.name, c.surname  FROM customer_list AS c LEFT JOIN invoice ON customer_list.id = invoice.cust_id
WHERE invoice_id IS NOT NULL]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 6</b><br/><br/>
Find the customers (with no duplicates) who have made a purchase (appear in the invoice table).

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT DISTINCT c.* FROM customer_list AS c INNER JOIN invoice ON invoice.cust_id = c.id
</details>

<b>Question 7</b><br/><br/>
Retrieve the customer fullnames who have not made any purchases.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT c.* FROM customer_list AS c WHERE c.id NOT IN (SELECT invoice_id FROM invoice)
</details>

<b>Question 8</b><br/><br/>
Find the total revenue generated from all invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT SUM(invoice_details.qty*prd_list.price) AS 'total revenue' FROM invoice_details JOIN prd_list ON invoice_details.prd_id = prd_list.id
</details>

<b>Question 9</b><br/><br/>
List the customers who made a purchase between June and July.

In [7]:
%%sql 

SELECT COUNT(*) FROM customer_list WHERE customer_list.id IN (SELECT invoice.cust_id FROM invoice WHERE date >= '2018-06-01'
                                                      AND date <= '2018-07-31')

 * sqlite:///sales_db.db
Done.

[(19,)]

In [ ]:
%%sql

SELECT * FROM customer_list

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 10</b><br/><br/>
Retrieve the product name, quantity, and total price for each invoice.

In [30]:
%%sql

INSERT INTO prd_list (name, price, description) VALUES
('iPhone 13', 999, 'Latest iPhone model'),
('Samsung Galaxy S21', 899, 'Flagship Samsung phone'),
('Google Pixel 6', 799, 'Google flagship phone'),
('OnePlus 9', 699, 'Premium Android device'),
('Xiaomi Mi 11', 599, 'High-performance Xiaomi phone'),
('LG Velvet', 499, 'Stylish LG smartphone'),
('Sony Xperia 5 III', 899, 'Sony compact flagship'),
('Motorola Moto G Power', 249, 'Budget-friendly Motorola phone'),
('OnePlus Nord 2', 499, 'Mid-range OnePlus phone'),
('Google Pixel 5a', 449, 'Affordable Google Pixel'),
('iPhone 12', 799, 'Previous generation iPhone'),
('Samsung Galaxy Note 20', 899, 'Large-screen Samsung phone'),
('Google Pixel 4a', 349, 'Budget-friendly Google Pixel'),
('OnePlus 8T', 699, 'OnePlus flagship model'),
('Xiaomi Redmi Note 10', 279, 'Budget Xiaomi phone'),
('LG G8 ThinQ', 399, 'Previous LG flagship'),
('Sony Xperia 1 III', 1099, 'High-end Sony smartphone'),
('Motorola Edge', 549, 'Motorol feature-rich phone'),
('OnePlus Nord CE', 349, 'Compact OnePlus phone'),
('Google Pixel 3a', 399, 'Google budget Pixel'),
('iPhone SE (2nd Gen)', 399, 'Compact iPhone model'),
('Samsung Galaxy A52', 349, 'Mid-range Samsung phone'),
('Xiaomi Poco X3', 249, 'Budget-friendly Xiaomi phone'),
('Motorola Moto G Stylus', 299, 'Motorola phone with stylus'),
('OnePlus Nord N10', 299, 'Budget OnePlus phone'),
('Google Pixel 4', 599, 'Previous Google Pixel model'),
('Samsung Galaxy S20 FE', 699, 'Fan Edition Samsung phone'),
('LG K92 5G', 349, 'LG phone with 5G support'),
('Motorola Moto E', 149, 'Entry-level Motorola phone'),
('Xiaomi Mi 10T Pro', 599, 'High-performance Xiaomi phone');

 * sqlite:///sales_db.db
30 rows affected.

[]

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 11</b><br/><br/>
List the customers along with the total number of invoices they have.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 12</b><br/><br/>
Find the products that have never been sold.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 13</b><br/><br/>
Retrieve the customers who have purchased at least 3 products

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 14</b><br/><br/>
Get the invoice details for the top 5 highest revenue-generating invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 15</b><br/><br/>
Get the details and sales amount for the top 5 highest revenue-generating products.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 16</b><br/><br/>
Retrieve the names of customers who have not made a purchase using EXCEPT.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 17</b><br/><br/>
List the products that have never been purchased and those with a price greater than R1000.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 18</b><br/><br/>
Get the product names and prices for products with a price greater than the average price of all products.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 19</b><br/><br/>
Retrieve the names of customers who made a purchase and have an email.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 20</b><br/><br/>
Get the fullnames of customers who have made a purchase of a product with a price greater than 2000.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>