In [2]:
import pandas as pd


df = pd.read_excel('db/insurance_claims_raw.xlsx')
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328.0,48.0,521585.0,2014-10-17,OH,250/500,1000.0,1406.91,0.0,466132.0,...,YES,71610.0,6510.0,13020.0,52080.0,Saab,92x,2004.0,Y,NaN
1,228.0,42.0,342868.0,2006-06-27,IN,250/500,2000.0,1197.22,5000000.0,468176.0,...,?,5070.0,780.0,780.0,3510.0,Mercedes,E400,2007.0,Y,NaN
2,134.0,29.0,687698.0,2000-09-06,OH,100/300,2000.0,1413.14,5000000.0,430632.0,...,NO,34650.0,7700.0,3850.0,23100.0,Dodge,RAM,2007.0,N,NaN
3,256.0,41.0,227811.0,1990-05-25,IL,250/500,2000.0,1415.74,6000000.0,608117.0,...,NO,63400.0,6340.0,6340.0,50720.0,Chevrolet,Tahoe,2014.0,Y,NaN
4,228.0,44.0,367455.0,2014-06-06,IL,500/1000,1000.0,1583.91,6000000.0,610706.0,...,NO,6500.0,1300.0,650.0,4550.0,Accura,RSX,2009.0,N,NaN

In [3]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', '_c39'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   float64
 1   age                          998 non-null    float64
 2   policy_number                1000 non-null   float64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            998 non-null    float64
 7   policy_annual_premium        997 non-null    float64
 8   umbrella_limit               1000 non-null   float64
 9   insured_zip                  1000 non-null   float64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      999 non-null    object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              998 non-null    object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                998 non-null    float64
 16  capital-loss                 1000 non-null   float64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        998 non-null    object
 22  incident_state               998 non-null    object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   float64
 26  number_of_vehicles_involved  1000 non-null   float64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   float64
 29  witnesses                    1000 non-null   float64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           996 non-null    float64
 32  injury_claim                 999 non-null    float64
 33  property_claim               999 non-null    float64
 34  vehicle_claim                1000 non-null   float64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   float64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: datetime64[ns](2), float64(19), object(19)
memory usage: 312.6+ KB