<h1>Database 1: Sales_db</h1>

<img src="../media/sales_erd.png" width="500px"/>

<b>Question 1</b>

Given the sales_db database of a cellular device shop, you are requested to write SQL queries to extract 
data as per management requests.

1. Load the SQL lite database and display all the tables within

<b>Question 2</b><br/><br/>
Write SQLite commands to view the structure of each table in the database. Hint: PRAGMA table_info(xxx)

<b>Question 3</b><br/><br/>
Retrieve the names and prices of all products from the prd_list table.

<b>Question 4</b><br/><br/>
How many invoices are they in the database?

<b>Question 5</b><br/><br/>
List all invoices with their associated customer names.

<b>Question 6</b><br/><br/>
Find the customers (with no duplicates) who have made a purchase (appear in the invoice table).

<b>Question 7</b><br/><br/>
Retrieve the customer fullnames who have not made any purchase.

<b>Question 8</b><br/><br/>
Find the total revenue generated from all invoices.

<b>Question 9</b><br/><br/>
List the customers who made a purchase between June and July.

<b>Question 10</b><br/><br/>
Retrieve the product name, quantity, and total price for each invoice.

<b>Question 11</b><br/><br/>
List the customers along with the total number of invoices they have. Hint: GROUP BY

<h1>Database 2: SoftDevEmployees database</h1>

Load the SQL lite database and display all the tables within

<b>Scenario Question 1</b>

Given the Employees Table in the SoftDevEmployees database, generate a result set with the following columns and requirements:
<ul>
    <li>Title: Must be uniform (example: Mr, MR or mR must be normalised). If the title is not given change it to unknown</li>
    <li>Name: Must have not leading or trailing space - First letter must be in upper case</li>
    <li>Surname: Must have no leading or trailing spaces - First letter must be in upper case</li>
    <li>Gender: The gender must be inferred from the Title</li>
</ul>

Save the newly retrieved data into an excel sheet. Hint: Use Pandas export.

<b>Scenario Question 2</b>

given the employee table, calculate Tax Deduction and NetSalary for each employee in the database following the formula below

$$
   Tax = MonthlySalary*decPerc - montlyRebate
$$

<b>Tax Brackets</b>

Annual Tax: 

0% on income up to the tax threshold<br/>
18% on income between the threshold and R205,900<br/>
26% on income between R205,901 and R321,600<br/>
31% on income between R321,601 and R445,100<br/>
36% on income between R445,101 and R584,200<br/>
39% on income between R584,201 and R744,800<br/>
41% on income between R744,801 and R1,577,300<br/>
45% on income above R1,577,301<br/>

Annual Tax Rebate: R14958<br/>
Annual Tax Threshold: R87300

<h1>Example: Tax Calculation Breakdown</h1>

<p class="blue">Assumptions:</p>
<ul>
    <li>Monthly salary: R25,000</li>
    <li>Age: Under 65 years old</li>
    <li>No additional deductions or credits for simplicity</li>
</ul>

<h3 class="blue">1. Determine the Taxable Income:</h3>
<p>Annual salary: R25,000 x 12 = <span class="bold">R300,000</span></p>

<h3 class="blue">2. Apply Tax Threshold:</h3>
<p>Annual tax threshold: <span class="bold">R87,300</span></p>
<p>Since R300,000 is above this threshold, income tax applies.</p>

<h3 class="blue">3. Apply Tax Brackets:</h3>
<ul>
    <li>First R205,900 taxed at 18%</li>
    <li>Next portion between R205,901 and R321,600 taxed at 26%</li>
</ul>

<p>For R300,000:</p>
<ul>
    <li>Tax on first R205,900: R205,900 x 18% = <span class="bold">R37,062</span></li>
    <li>Tax on remaining R94,100 (R300,000 - R205,900) at 26%: R94,100 x 26% = <span class="bold">R24,466</span></li>
</ul>

<h3 class="blue">4. Calculate Total Tax Before Rebates:</h3>
<p>Total Tax = R37,062 + R24,466 = <span class="bold">R61,528</span></p>

<h3 class="blue">5. Apply Annual Tax Rebate:</h3>
<p>Annual rebate = R14,958</p>
<p>Tax after rebate = R61,528 - R14,958 = <span class="bold">R46,570</span></p>

<h3 class="blue">6. Monthly Tax Calculation:</h3>
<p>Monthly tax = R46,570 รท 12 = <span class="bold">R3,880.83</span></p>

<h3 class="blue">7. Net Salary Calculation:</h3>
<p>Net salary = R25,000 - R3,880.83 = <span class="bold blue">R21,119.17</span></p>

<h3 class="blue">Summary:</h3>
<ul>
    <li><span class="blue">Annual Taxable Income</span>: R300,000</li>
    <li><span class="blue">Annual Tax before Rebate</span>: R61,528</li>
    <li><span class="blue">Annual Tax after Rebate</span>: R46,570</li>
    <li><span class="blue">Monthly Tax</span>: R3,880.83</li>
    <li><span class="blue">Net Monthly Salary</span>: <span class="bold blue">R21,119.17</span></li>
</ul>