<h1>Views and Normalisation</h1>

<h2>1. Views</h2>

<b>Benefits of view</b>
<ul>
    <li>Snapshots of the database</li>
    <li>Minimal storage</li>
    <li>Control security</li>
    <li>Do not affect physical schema</li>
</ul>

<b>Database structure</b>
<img src="media/sales_erd.png" width="500px"/>

In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///sales_db.db

In [3]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///sales_db.db
Done.

[('customer_list',),
 ('sqlite_sequence',),
 ('prd_list',),
 ('invoice',),
 ('invoice_details',)]

<h2>Creating a view</h2><br/>
The syntax to create a view is 

<b>CREATE VIEW</b> View_Name <b>AS</b>

 --- SELECT xxxxx

<b>Problem 1</b><br/>
Create a view that will display all the invoices in the database, the name and surname of their owners, and the date of the invoice.

In [16]:
%%sql
DROP VIEW Customer_View;

CREATE VIEW Customer_View AS
SELECT * FROM customer_list;

 * sqlite:///sales_db.db
Done.
Done.

[]

In [13]:
%%sql
SELECT * FROM Customer_View

 * sqlite:///sales_db.db
Done.

[(1, 'Correna', 'Leilah', 'Alvina', '0743246571', 'Leilah_Alvina1@hotmail.com'),
 (2, 'Tiertza', 'Trixi', 'Junina', '0122418097', 'Tiertza.Trixi@live.com'),
 (3, 'Alethea', 'Germana', 'Robinia', '0611045869', 'Germana9@hotmail.com'),
 (4, 'Sissie', 'Shayla', 'Georgianne', '0813498160', 'Shayla4@yahoo.com'),
 (5, 'Michele', 'Jenelle', 'Florrie', '0619510647', 'Jenelle0@hotmail.com'),
 (6, 'Sherill', 'Phillie', 'Remy', '0123249186', 'Sherill.Phillie@live.com'),
 (7, 'Leta', 'Joly', 'Jenilee', '0128476395', 'Leta.Joly@live.com'),
 (8, 'Atalanta', 'Eryn', 'Oneida', '0727631290', 'Atalanta_Eryn@yahoo.com'),
 (9, 'Retha', 'Eliza', 'Desirae', '0815480196', 'Eliza2@yahoo.com'),
 (10, 'Adriena', 'Sharla', 'Orella', '0721382954', 'Adriena_Sharla@yahoo.com'),
 (11, 'Willamina', 'Valenka', 'Sile', '0748932641', 'Valenka_Sile7@hotmail.com'),
 (12, 'Luelle', 'Jenine', 'Kinna', '0122910736', 'Luelle.Jenine@live.com'),
 (13, 'Morgan', 'Rubie', 'Myrta', '0728473021', 'Morgan_Rubie@yahoo.com'),
 (14, 'Vivian', 'Daryl', 'Gusty', '0616734215', 'Daryl6@hotmail.com'),
 (15, 'Joan', 'Gusella', 'Rosetta', '0129815230', 'Joan.Gusella@live.com'),
 (16, 'Bettye', 'Ashil', 'Opalina', '0126901547', 'Bettye.Ashil@live.com'),
 (17, 'Audra', 'Cynthia', 'Joeann', '0124376012', 'Audra.Cynthia@live.com'),
 (18, 'Etti', 'Stacy', 'Jeannine', '0726248709', 'Etti_Stacy@yahoo.com'),
 (19, 'Charlean', 'Aundrea', 'Lita', '0124219653', 'Charlean.Aundrea@live.com'),
 (20, 'Jocelyne', 'Julee', 'Glennie', '0818203597', 'Julee0@yahoo.com'),
 (21, 'Karlotta', 'Jaymee', 'Lilyan', '0121784230', 'Karlotta.Jaymee@live.com'),
 (22, 'Karee', 'Audre', 'Christalle', '0126281074', 'Karee.Audre@live.com'),
 (23, 'Davina', 'Arlina', 'Imogene', '0813049256', 'Arlina7@yahoo.com'),
 (24, 'Danila', 'Maribel', 'Glen', '0812658034', 'Maribel8@yahoo.com'),
 (25, 'Jennee', 'Josey', 'Daron', '0125702914', 'Jennee.Josey@live.com'),
 (26, 'Florry', 'Nance', 'Tedra', '0742704136', 'Nance_Tedra2@hotmail.com'),
 (27, 'Nissa', 'Paloma', 'Lola', '0612459036', 'Paloma9@hotmail.com'),
 (28, 'Harlie', 'Terrijo', 'Jamima', '0125842739', 'Harlie.Terrijo@live.com'),
 (29, 'Karie', 'Alia', 'Savina', '0814650273', 'Alia5@yahoo.com'),
 (30, 'Corliss', 'Teddie', 'Dulce', '0723602947', 'Corliss_Teddie@yahoo.com'),
 (31, 'Kristen', 'Annalise', 'Odille', '0123650794', 'Kristen.Annalise@live.com'),
 (32, 'Gilbertina', 'Letisha', 'Sherri', '0725109647', 'Gilbertina_Letisha@yahoo.com'),
 (33, 'Carolina', 'Mireille', 'Anthe', '0720196372', 'Carolina_Mireille@yahoo.com'),
 (34, 'Rebecka', 'Collete', 'Julianne', '0122965348', 'Rebecka.Collete@live.com'),
 (35, 'Ibby', 'Rosamond', 'Latisha', '0724761852', 'Ibby_Rosamond@yahoo.com'),
 (36, 'Rozanna', 'Joelie', 'Candice', '0128574203', 'Rozanna.Joelie@live.com'),
 (37, 'Maureene', 'Britney', 'Hedvig', '0723069521', 'Maureene_Britney@yahoo.com'),
 (38, 'Avivah', 'Shayne', 'Blinni', '0723590761', 'Avivah_Shayne@yahoo.com'),
 (39, 'Leanna', 'Blaire', 'Jane', '0725291063', 'Leanna_Blaire@yahoo.com'),
 (40, 'Odelle', 'Hannis', 'Lurleen', '0817051629', 'Hannis0@yahoo.com'),
 (41, 'Jolynn', 'Tana', 'Tildy', '0611837290', 'Tana4@hotmail.com'),
 (42, 'Maritsa', 'Dulcia', 'Aleen', '0729512370', 'Maritsa_Dulcia@yahoo.com'),
 (43, 'Madelene', 'Camile', 'Shandra', '0813156908', 'Camile6@yahoo.com'),
 (44, 'Cyndie', 'Arlee', 'Celestine', '0720864239', 'Cyndie_Arlee@yahoo.com'),
 (45, 'Adi', 'Adey', 'Hinda', '0725039674', 'Adi_Adey@yahoo.com'),
 (46, 'Lacey', 'Kaitlynn', 'Noelle', '0811867450', 'Kaitlynn1@yahoo.com'),
 (47, 'Kial', 'Orelia', 'Vina', '0125879320', 'Kial.Orelia@live.com'),
 (48, 'Petra', 'Dodie', 'Margalit', '0126495810', 'Petra.Dodie@live.com'),
 (49, 'Fredrika', 'Devina', 'Marlo', '0122648953', 'Fredrika.Devina@live.com'),
 (50, 'Rosemary', 'Jen', 'Clo', '0740849715', 'Jen_Clo2@hotmail.com'),
 (51, 'Madlen', 'Kania', 'Lorelle', '0726341087', 'Madlen_Kania@yahoo.com'),
 (52, 'Brina', 'Brenna', 'Clem', '0616759830', 'Brenna7@hotmail.com'),
 (53, 'Lesya', 'Lavena', 'Annadiane', '0721839250', 'Lesya_Lavena@yahoo.com'),
 (54, 'Selma', 'Dierdre', 'Kalindi', '0127240586', 'Selma.Dierdre@live.com'),
 (55, 'Michaelina', 'Tammi', 'Robinetta', '0617231695', 'Tammi3@hotmail.com'),
 (56, 'Laurena', 'Marcia', 'Lynnett', '0727450891', 'Laurena_Marcia@yahoo.com'),
 (57, 'Lotte', 'Rhianna', 'Elbertine', '0813765218', 'Rhianna3@yahoo.com'),
 (58, 'Eada', 'Josefa', 'Theodosia', '0612543187', 'Josefa5@hotmail.com'),
 (59, 'Elsey', 'Vivianna', 'Aubine', '0814857609', 'Vivianna4@yahoo.com'),
 (60, 'Tandi', 'Maressa', 'Glenine', '0128706493', 'Tandi.Maressa@live.com'),
 (61, 'Kalinda', 'Tedra', 'Aeriell', '0125183296', 'Kalinda.Tedra@live.com'),
 (62, 'Zarla', 'Edythe', 'Del', '0818253416', 'Edythe4@yahoo.com'),
 (63, 'Florencia', 'Claudie', 'Joelynn', '0128659741', 'Florencia.Claudie@live.com'),
 (64, 'Jeannine', 'Damaris', 'Rafaelia', '0619401678', 'Damaris3@hotmail.com'),
 (65, 'Cyndia', 'Zonnya', 'Jessalin', '0816142307', 'Zonnya1@yahoo.com'),
 (66, 'Aileen', 'Luci', 'Valencia', '0127613294', 'Aileen.Luci@live.com'),
 (67, 'Terrye', 'Kriste', 'Enrichetta', '0819146753', 'Kriste6@yahoo.com'),
 (68, 'Diandra', 'Bernette', 'Doll', '0742748153', 'Bernette_Doll8@hotmail.com'),
 (69, 'Meryl', 'Hyacinthe', 'Adina', '0815837624', 'Hyacinthe7@yahoo.com'),
 (70, 'Ardyce', 'Terrie', 'Benny', '0720238451', 'Ardyce_Terrie@yahoo.com'),
 (71, 'Janina', 'Zenia', 'Kirsti', '0721360785', 'Janina_Zenia@yahoo.com'),
 (72, 'Ida', 'Mahala', 'Lulu', '0811398204', 'Mahala1@yahoo.com'),
 (73, 'Lenee', 'Alys', 'Brina', '0120418725', 'Lenee.Alys@live.com'),
 (74, 'Hollie', 'Camala', 'Lotti', '0124860371', 'Hollie.Camala@live.com'),
 (75, 'Stefania', 'Karry', 'Elsey', '0817430526', 'Karry2@yahoo.com'),
 (76, 'Elaina', 'Vallie', 'Loreen', '0128097514', 'Elaina.Vallie@live.com'),
 (77, 'Tessi', 'Farrah', 'Maire', '0125180629', 'Tessi.Farrah@live.com'),
 (78, 'Trisha', 'Sidonnie', 'Joan', '0749753618', 'Sidonnie_Joan8@hotmail.com'),
 (79, 'Willie', 'Chastity', 'Linda', '0720219746', 'Willie_Chastity@yahoo.com'),
 (80, 'Allis', 'Dani', 'Loria', '0124378069', 'Allis.Dani@live.com'),
 (81, 'Kira', 'Bobbye', 'Vere', '0128936710', 'Kira.Bobbye@live.com'),
 (82, 'Ruthie', 'Susann', 'Lyndell', '0728039417', 'Ruthie_Susann@yahoo.com'),
 (83, 'Antonietta', 'Antonie', 'Sheelah', '0725173906', 'Antonietta_Antonie@yahoo.com'),
 (84, 'Minnie', 'Hyacinth', 'Meagan', '0813258670', 'Hyacinth5@yahoo.com'),
 (85, 'Benoite', 'Hettie', 'Annadiane', '0810149678', 'Hettie9@yahoo.com'),
 (86, 'Janeva', 'Jourdan', 'Mara', '0810162753', 'Jourdan5@yahoo.com'),
 (87, 'Tobe', 'Dorelle', 'Ninnetta', '0125749183', 'Tobe.Dorelle@live.com'),
 (88, 'Tomasina', 'Nichole', 'Beatrisa', '0720839256', 'Tomasina_Nichole@yahoo.com'),
 (89, 'Molly', 'Darice', 'Wanids', '0124189260', 'Molly.Darice@live.com'),
 (90, 'Melli', 'Alyssa', 'Bekki', '0127852069', 'Melli.Alyssa@live.com'),
 (91, 'Glory', 'Marieann', 'Agata', '0724160839', 'Glory_Marieann@yahoo.com'),
 (92, 'Tania', 'Ediva', 'Karry', '0747580169', 'Ediva_Karry0@hotmail.com'),
 (93, 'Drusilla', 'Zahara', 'Agneta', '0741650739', 'Zahara_Agneta1@hotmail.com'),
 (94, 'Allianora', 'Dolorita', 'Judie', '0126597103', 'Allianora.Dolorita@live.com'),
 (95, 'Teriann', 'Valida', 'Kat', '0729406713', 'Teriann_Valida@yahoo.com'),
 (96, 'Kissee', 'Evanne', 'Izabel', '0126517280', 'Kissee.Evanne@live.com'),
 (97, 'Renate', 'Monah', 'Mariquilla', '0816531482', 'Monah7@yahoo.com'),
 (98, 'Dixie', 'Christina', 'Murial', '0747306829', 'Christina_Murial8@hotmail.com'),
 (99, 'Candie', 'Faina', 'Rhetta', '0614873056', 'Faina3@hotmail.com'),
 (100, 'Val', 'Lauretta', 'Dolley', '0127986412', 'Val.Lauretta@live.com'),
 (103, 'John', 'Doe', 'A.', '+1234567890', 'john.doe@example.com'),
 (104, 'Jane', 'Smith', 'B.', '+9876543210', 'jane.smith@example.com'),
 (105, 'Alice', 'Johnson', 'C.', '+5551234567', None),
 (106, 'Bob', 'Williams', 'D.', '+5559876543', None),
 (107, 'Emily', 'Taylor', 'E.', '+1237894560', 'emily.taylor@example.com'),
 (108, 'Michael', 'Anderson', 'F.', '+9876543210', 'michael.anderson@example.com'),
 (109, 'Grace', 'Miller', 'G.', '+5554567890', None),
 (110, 'Daniel', 'Brown', 'H.', '+5553210987', None),
 (111, 'Olivia', 'Jones', 'I.', '+1236547890', 'olivia.jones@example.com'),
 (112, 'David', 'Davis', 'J.', '+9876543210', 'david.davis@example.com'),
 (113, 'Sophia', 'White', 'K.', '+5557890123', None),
 (114, 'Matthew', 'Moore', 'L.', '+5552109876', None),
 (115, 'Emma', 'Jackson', 'M.', '+1237896540', 'emma.jackson@example.com'),
 (116, 'Christopher', 'Clark', 'N.', '+9876543210', 'christopher.clark@example.com'),
 (117, 'Ava', 'Robinson', 'O.', '+5550123456', None),
 (118, 'Andrew', 'Perez', 'P.', '+5558765432', None),
 (119, 'Isabella', 'Wright', 'Q.', '+1234567890', 'isabella.wright@example.com'),
 (120, 'Joseph', 'Hall', 'R.', '+9876543210', 'joseph.hall@example.com'),
 (121, 'Mia', 'Hill', 'S.', '+5552345678', None),
 (122, 'Ethan', 'Young', 'T.', '+5557890123', None),
 (123, 'Abigail', 'Lee', 'U.', '+1236547890', 'abigail.lee@example.com'),
 (124, 'William', 'Green', 'V.', '+9876543210', 'william.green@example.com'),
 (125, 'Charlotte', 'Baker', 'W.', '+5553456789', None),
 (126, 'Ryan', 'Gonzalez', 'X.', '+5558901234', None),
 (127, 'Amelia', 'Evans', 'Y.', '+1237894560', 'amelia.evans@example.com'),
 (128, 'Nicholas', 'Turner', 'Z.', '+9876543210', 'nicholas.turner@example.com'),
 (129, 'Madison', 'Collins', 'AA.', '+5556789012', None),
 (130, 'Anthony', 'Reyes', 'BB.', '+5551234567', None),
 (131, 'Harper', 'Fisher', 'CC.', '+1234567890', 'harper.fisher@example.com'),
 (132, 'Benjamin', 'Barnes', 'DD.', '+9876543210', 'benjamin.barnes@example.com'),
 (133, 'Evelyn', 'Cooper', 'EE.', '+5559876543', None),
 (134, 'Jackson', 'Lopez', 'FF.', '+5554567890', None),
 (135, 'Scarlett', 'Perry', 'GG.', '+1237896540', 'scarlett.perry@example.com'),
 (136, 'Carter', 'Ward', 'HH.', '+9876543210', 'carter.ward@example.com'),
 (137, 'Lily', 'Morgan', 'II.', '+5550123456', None),
 (138, 'Aiden', 'Fowler', 'JJ.', '+5558765432', None),
 (139, 'Grace', 'Stewart', 'KK.', '+1236547890', 'grace.stewart@example.com'),
 (140, 'Lucas', 'Kennedy', 'LL.', '+9876543210', 'lucas.kennedy@example.com'),
 (141, 'Chloe', 'Adams', 'MM.', '+5552345678', None),
 (142, 'Henry', 'Harrison', 'NN.', '+5557890123', None)]

In [33]:
%%sql
DROP VIEW IF EXISTS Invoice_View;

CREATE VIEW Invoice_View AS
SELECT invoice_id AS 'InvoiceID', name, surname, date
FROM invoice JOIN customer_list ON invoice.cust_id = customer_list.id;

 * sqlite:///sales_db.db
Done.
Done.

[]

In [34]:
%%sql 
SELECT * FROM Invoice_View;

 * sqlite:///sales_db.db
Done.

[(1, 'Correna', 'Leilah', '2018-02-18 00:00:00'),
 (2, 'Tiertza', 'Trixi', '2018-09-21 00:00:00'),
 (3, 'Alethea', 'Germana', '2018-01-08 00:00:00'),
 (4, 'Sissie', 'Shayla', '2018-09-04 00:00:00'),
 (5, 'Michele', 'Jenelle', '2018-06-01 00:00:00'),
 (6, 'Sherill', 'Phillie', '2018-03-15 00:00:00'),
 (7, 'Leta', 'Joly', '2018-08-13 00:00:00'),
 (8, 'Atalanta', 'Eryn', '2018-03-06 00:00:00'),
 (9, 'Retha', 'Eliza', '2018-11-01 00:00:00'),
 (10, 'Adriena', 'Sharla', '2018-01-01 00:00:00'),
 (11, 'Willamina', 'Valenka', '2018-06-21 00:00:00'),
 (12, 'Luelle', 'Jenine', '2018-08-04 00:00:00'),
 (13, 'Morgan', 'Rubie', '2018-06-25 00:00:00'),
 (14, 'Vivian', 'Daryl', '2018-11-06 00:00:00'),
 (15, 'Joan', 'Gusella', '2018-10-15 00:00:00'),
 (16, 'Bettye', 'Ashil', '2018-10-17 00:00:00'),
 (17, 'Audra', 'Cynthia', '2018-04-03 00:00:00'),
 (18, 'Etti', 'Stacy', '2018-10-22 00:00:00'),
 (19, 'Charlean', 'Aundrea', '2018-02-02 00:00:00'),
 (20, 'Jocelyne', 'Julee', '2018-02-13 00:00:00'),
 (21, 'Karlotta', 'Jaymee', '2018-02-11 00:00:00'),
 (22, 'Karee', 'Audre', '2018-04-08 00:00:00'),
 (23, 'Davina', 'Arlina', '2018-07-09 00:00:00'),
 (24, 'Danila', 'Maribel', '2018-04-01 00:00:00'),
 (25, 'Jennee', 'Josey', '2018-06-11 00:00:00'),
 (26, 'Florry', 'Nance', '2018-07-18 00:00:00'),
 (27, 'Nissa', 'Paloma', '2018-10-06 00:00:00'),
 (28, 'Harlie', 'Terrijo', '2018-07-01 00:00:00'),
 (29, 'Karie', 'Alia', '2018-01-11 00:00:00'),
 (30, 'Corliss', 'Teddie', '2018-07-16 00:00:00'),
 (31, 'Kristen', 'Annalise', '2018-01-21 00:00:00'),
 (32, 'Gilbertina', 'Letisha', '2018-10-20 00:00:00'),
 (33, 'Carolina', 'Mireille', '2018-08-02 00:00:00'),
 (34, 'Rebecka', 'Collete', '2018-07-19 00:00:00'),
 (35, 'Ibby', 'Rosamond', '2018-12-22 00:00:00'),
 (36, 'Rozanna', 'Joelie', '2018-02-04 00:00:00'),
 (37, 'Maureene', 'Britney', '2018-10-01 00:00:00'),
 (38, 'Avivah', 'Shayne', '2018-12-21 00:00:00'),
 (39, 'Leanna', 'Blaire', '2018-08-13 00:00:00'),
 (40, 'Odelle', 'Hannis', '2018-07-20 00:00:00'),
 (41, 'Jolynn', 'Tana', '2018-01-21 00:00:00'),
 (42, 'Maritsa', 'Dulcia', '2018-04-15 00:00:00'),
 (43, 'Madelene', 'Camile', '2018-12-20 00:00:00'),
 (44, 'Cyndie', 'Arlee', '2018-11-10 00:00:00'),
 (45, 'Adi', 'Adey', '2018-02-15 00:00:00'),
 (46, 'Lacey', 'Kaitlynn', '2018-06-11 00:00:00'),
 (47, 'Kial', 'Orelia', '2018-01-16 00:00:00'),
 (48, 'Petra', 'Dodie', '2018-04-09 00:00:00'),
 (49, 'Fredrika', 'Devina', '2018-02-19 00:00:00'),
 (50, 'Rosemary', 'Jen', '2018-04-21 00:00:00'),
 (51, 'Madlen', 'Kania', '2018-10-03 00:00:00'),
 (52, 'Brina', 'Brenna', '2018-11-23 00:00:00'),
 (53, 'Lesya', 'Lavena', '2018-04-18 00:00:00'),
 (54, 'Selma', 'Dierdre', '2018-10-09 00:00:00'),
 (55, 'Michaelina', 'Tammi', '2018-06-07 00:00:00'),
 (56, 'Laurena', 'Marcia', '2018-06-08 00:00:00'),
 (57, 'Lotte', 'Rhianna', '2018-12-03 00:00:00'),
 (58, 'Eada', 'Josefa', '2018-05-21 00:00:00'),
 (59, 'Elsey', 'Vivianna', '2018-03-17 00:00:00'),
 (60, 'Tandi', 'Maressa', '2018-09-20 00:00:00'),
 (61, 'Kalinda', 'Tedra', '2018-04-25 00:00:00'),
 (62, 'Zarla', 'Edythe', '2018-11-04 00:00:00'),
 (63, 'Florencia', 'Claudie', '2018-07-12 00:00:00'),
 (64, 'Jeannine', 'Damaris', '2018-12-19 00:00:00'),
 (65, 'Cyndia', 'Zonnya', '2018-05-18 00:00:00'),
 (66, 'Aileen', 'Luci', '2018-04-19 00:00:00'),
 (67, 'Terrye', 'Kriste', '2018-06-04 00:00:00'),
 (68, 'Diandra', 'Bernette', '2018-11-16 00:00:00'),
 (69, 'Meryl', 'Hyacinthe', '2018-11-07 00:00:00'),
 (70, 'Ardyce', 'Terrie', '2018-10-26 00:00:00'),
 (71, 'Janina', 'Zenia', '2018-07-25 00:00:00'),
 (72, 'Ida', 'Mahala', '2018-12-22 00:00:00'),
 (73, 'Lenee', 'Alys', '2018-08-14 00:00:00'),
 (74, 'Hollie', 'Camala', '2018-05-26 00:00:00'),
 (75, 'Stefania', 'Karry', '2018-12-21 00:00:00'),
 (76, 'Elaina', 'Vallie', '2018-06-22 00:00:00'),
 (77, 'Tessi', 'Farrah', '2018-01-18 00:00:00'),
 (78, 'Trisha', 'Sidonnie', '2018-07-03 00:00:00'),
 (79, 'Willie', 'Chastity', '2018-01-18 00:00:00'),
 (80, 'Allis', 'Dani', '2018-09-17 00:00:00'),
 (81, 'Kira', 'Bobbye', '2018-10-22 00:00:00'),
 (82, 'Ruthie', 'Susann', '2018-07-06 00:00:00'),
 (83, 'Antonietta', 'Antonie', '2018-12-17 00:00:00'),
 (84, 'Minnie', 'Hyacinth', '2018-02-08 00:00:00'),
 (85, 'Benoite', 'Hettie', '2018-01-10 00:00:00'),
 (86, 'Janeva', 'Jourdan', '2018-01-26 00:00:00'),
 (87, 'Tobe', 'Dorelle', '2018-04-11 00:00:00'),
 (88, 'Tomasina', 'Nichole', '2018-08-18 00:00:00'),
 (89, 'Molly', 'Darice', '2018-05-16 00:00:00'),
 (90, 'Melli', 'Alyssa', '2018-09-21 00:00:00'),
 (91, 'Glory', 'Marieann', '2018-02-04 00:00:00'),
 (92, 'Tania', 'Ediva', '2018-04-19 00:00:00'),
 (93, 'Drusilla', 'Zahara', '2018-04-09 00:00:00'),
 (94, 'Allianora', 'Dolorita', '2018-04-13 00:00:00'),
 (95, 'Teriann', 'Valida', '2018-12-18 00:00:00'),
 (96, 'Kissee', 'Evanne', '2018-12-19 00:00:00'),
 (97, 'Renate', 'Monah', '2018-11-23 00:00:00'),
 (98, 'Dixie', 'Christina', '2018-12-16 00:00:00'),
 (99, 'Candie', 'Faina', '2018-02-18 00:00:00'),
 (100, 'Val', 'Lauretta', '2018-08-10 00:00:00')]

<h2>2. Normalisation</h2><br/>
Normalisation is a database technique for evaluting and reorganising table structures to <br/>
<ul>
    <li>Minimise redundancies </li>
    <li>Improve data integrity</li>
</ul>

Normalisation can be segmented in stages based on how well redundancy is minimised:<br/>
<ul>
    <li>First Normal Form (<b>1NF</b>) </li>
    <li>Second Normal Form (<b>2NF</b>)</li>
    <li>Third Normal Form (<b>3NF</b>)</li>
    <li>Boyce-Codd Normal Form (<b>BCNF</b>)</li>
    <li>Fourth Normal Form (<b>4NF</b>)</li>
</ul>

<h3>1NF: Remove repeating groups</h3>

<h3>2NF: Remove Partial redundancies</h3>

<h3>3NF: Remove Nonprimary-key dependent columns</h3>

<h3>Normalisation process</h3>
<ul>
    <li>List all the attributes/columns, <b>grouping related data</b> together: 0NF</li>
    <li>Identify a Primary</li>
    <li>Perform 1NF: Remove repeating groups/Identify many-to-many relationships</li>
    <li>Perform 2NF: Remove part-key dependencies/Solve many-to-many relationships</li>
    <li>Perform 3NF: Remove inter-data dependencies/Resolve one-to-many relationships</li>    
</ul>

<b>Create a Normalised Database (1NF-to-3NF) for the system below</b>
<img src="media/job_normalisation.png"/>