<h2>Movie Recommender System: The Predict</h2><br/>
Link: https://www.kaggle.com/competitions/edsa-movie-recommendation-predict/data

<img src="Media/wakanda.png"/>

<h3>1. The datasets</h3>

In [2]:
import pandas as pd

df_train = pd.read_csv('datasets/edsa-movie-recommendation-predict/train.csv')
df_tags = pd.read_csv('datasets/edsa-movie-recommendation-predict/tags.csv')
df_links = pd.read_csv('datasets/edsa-movie-recommendation-predict/links.csv')
df_imdb = pd.read_csv('datasets/edsa-movie-recommendation-predict/imdb_data.csv')
df_genome = pd.read_csv('datasets/edsa-movie-recommendation-predict/genome_tags.csv')
df_gen_scores = pd.read_csv('datasets/edsa-movie-recommendation-predict/genome_scores.csv')
df_movies = pd.read_csv('datasets/edsa-movie-recommendation-predict/movies.csv')

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
"""
df_movies['genres']=df_movies['genres'].apply(lambda string: string.replace('|', ' '))
df_movies.head()
"""

In [ ]:
"""
from sklearn.metrics.pairwise import cosine_similarity 
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,1),
                     min_df=0.0, stop_words='english')

df_movies['text_feats']=df_movies['genres'] 
tf_feats_matrix = tf.fit_transform(df_movies['text_feats'])
"""

In [ ]:
"""
tf_feats_matrix.shape
"""

<b style="color:red">I am sure the code below is crushing your computer :) and you Hate Us For It!!!</b>

In [7]:
#cosine_sim_featTags = cosine_similarity(tf_feats_matrix,tf_feats_matrix)

<b style="color:blue">The dataset contains 62k movies</b>

In [8]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [9]:
df_tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [10]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [11]:
df_imdb.head()

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion

In [12]:
df_genome.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [13]:
df_gen_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [14]:
df_train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

<b style="color:blue;">Note!!! The datasets is huge: 10 Million records (Utulity matrix)</b>

In [15]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000038 entries, 0 to 10000037
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 305.2 MB

<b>Test Set</b>

In [16]:
df_test = pd.read_csv('datasets/edsa-movie-recommendation-predict/test.csv')
df_test.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

<b style="color:blue;">Note!!! The Test set is huge: 5 Million records</b>

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000019 entries, 0 to 5000018
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
dtypes: int64(2)
memory usage: 76.3 MB

<h3>2. Solution Approach - Considerations </h3>

<ol>
    <li>The datasets is huge (62k movies + 1M records utulity matrix): <b>feature extraction should be minimalistic</b></li>
    <li style="color:blue"><b>Do proper EDA to represent the features in a concise way</b></li>
    <li>Which method is most appropriate? Based that decision from the data</li>
    <li style="color:blue"><b>Run a baseline solution based on what you know - minimalistic in feature content</b></li>
    <li>Survey the literature on existing recommender system solution approaches</li>
    <li>Improve your solution iteratively</li>
    <li style="color:blue">Based on the method you use -> <b>The code may take 2 hours to 3 days to run</b> </li>
    <li>Consider using Cloud resources: Google Collab</li>    
</ol>

Additional guidelines: 
<ul>
    <li>Regular expression: feature extraction</li>
    <li>Lemmatisation-Reduce redundancies:<b>The number of words (and movies) determines the size of the TF-IDF matrix</b></li>
    <li>Escaping the memory crash! <b style="color:blue">You don't need to compute the similariy matrix (62k x 62k) </b>: <span>You can compute the similarity between a movie and other movies on the fly!!!</span>
    </li>
    <li>Investigate whether the problem can be turned into a regression/classification/clustering problem or others (i.e SVD, etc.)</li>
    <li style="color:blue">Pretest your model performance on a sample of the training set before running on the test set (See Figure below)</li>
    <li>Consider using optimised libraries to build your recommender systems</li>
</ul>

<img src="Media/recommender_sys_perf.png"/>

<h3>3. Submission format</h3>

In [18]:
df_submission = pd.read_csv('datasets/edsa-movie-recommendation-predict/sample_submission.csv')
df_submission.head()

       Id  rating
0  1_2011     1.0
1  1_4144     1.0
2  1_5767     1.0
3  1_6711     1.0
4  1_7318     1.0

<b style="color:blue;">id = [userid]+[movieid]</b> from test set

<h3>4. Your Kaggle Submission</h3>

You will be scored based on the rating RMSE score of your recommender system on the test data:

$$
RMSE = \sqrt{\sum_{i=1}^{N_t}(\hat{r}_i-TrueRating_i})^2
$$

<b style="color:blue">Scores below 0.75 are good scores</b> Worst-case results: 0.95