In [1]:
customer_age = [29, 45, 56, 23]
customer_name = ['ange','shane','robert','Christy']
customer_height = [1.2,1.8, 2,1.6]

In [3]:
import pandas as pd


people_dicts = {'age':customer_age, 'name':customer_name, 'height':customer_height} #Pythpon Data Structures -> dictionary, list
#pandas dataframe

people_df = pd.DataFrame(people_dicts)
people_df.head()

   age     name  height
0   29     ange     1.2
1   45    shane     1.8
2   56   robert     2.0
3   23  Christy     1.6

In [ ]:
#What is a dataframe?

#What is a dictionary?

A dictionary is an array wherby the indexes are names.

array = [1,2,3,4]
array[0]

In [4]:
array1 = [1,4,5,3]
print(array1[2])

5

In [6]:
Dict_1 = {'val_1':1, 'val_2':4, 'val_3':5, 'val_4':3}

print(Dict_1['val_2'])

KeyError: 2

In [7]:
Dict_2 = {'val_1':[3,4,5]}
print(Dict_2['val_1'])

[3, 4, 5]