<h1>Data Preprocessing: Practice Room</h1>

Please install the following first:

In [ ]:
#pip install sqlalchemy

In [ ]:
#pip install ipython-sql

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql
sqlite:///../SoftDevEmployees.db

In [29]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///../SoftDevEmployees.db
   sqlite:///../Students.db
   sqlite:///../sales
   sqlite:///../sales.db
   sqlite:///../sales_db.db
   sqlite:///staff_db.db
Done.

[('Employees',)]

In [31]:
%%sql 

SELECT * FROM Employees LIMIT 10

 * sqlite:///../SoftDevEmployees.db
   sqlite:///../Students.db
   sqlite:///../sales
   sqlite:///../sales.db
   sqlite:///../sales_db.db
   sqlite:///staff_db.db
Done.

[('Dumisani', 'Thwala', None, 'Back-End Developer', 'Graduate', 52171, 'Web Applications'),
 ('Tony', 'Horn', 'Mr', 'Back-End Developer', 'Graduate', 103397, 'Mobile Applications'),
 ('Vuyokazi', 'barnes', 'Mr', 'Business Analyst', 'Graduate', 69220, 'Web Applications'),
 ('sello', 'Details', 'Mr', 'Database Analyst', 'Graduate', 54945, 'Mobile Applications'),
 ('Jacqueline', 'fredericks', None, 'Front-End Developer', 'Graduate', 51104, 'Web Applications'),
 ('Walter', 'Jansen', 'Mr', 'Front-End Developer', 'Graduate', 35454, 'Mobile Applications'),
 ('Ernest', 'maritz', None, 'Full-Stack Developer', 'Graduate', 88569, 'Web Applications'),
 ('Kevin', 'Motloung', 'MR', 'Systems Analyst', 'Graduate', 99370, 'Mobile Applications'),
 ('takalani', 'Richards', 'mr', 'Systems Analyst', 'Graduate', 57906, 'Web Applications'),
 ('Bronwyn', 'Swartz', None, 'UI/UX Developer', 'Graduate', 34350, 'Mobile Applications')]

<b>Question 1</b><br/><br/>
Given the Employees Table in the SoftDevEmployees database, generate a result set with the following columns and requirements:
<ul>
    <li>Title: Must be uniform (Mr, MR or mR must be normalised)</li>
    <li>Name: Must have not leading or trailing space - First letter must be in upper case</li>
    <li>Surname: Must have no leading or trailing spaces - First letter must be in upper case</li>
    <li>Gender: The gender must be inferred from the Title</li>
</ul>

Save the newly retrieved data into an excel sheet. Hint: Use Pandas export.

<b>Question 2</b><br/><br/>
Given the Employees Table in the SoftDevEmployees database, generate a result set with the following columns and requirements:
<ul>
    <li>Title: Must be uniform (Mr, MR or mR must be normalised)</li>
    <li>Name: Must have not leading or trailing space - First letter must be in upper case</li>
    <li>Surname: Must have no leading or trailing spaces - First letter must be in upper case</li>
    <li>Gender: The gender must be inferred from the Title</li>
    <li><b>Salary</b>: Assuming that the salary column is the gross salary</li>
    <li><b>Tax Deductions</b>: See process in cell below</li>
</ul>
Save the newly retrieved data into an excel sheet. Hint: Use Pandas export.

<b>Tax Brackets</b>

Annual Tax: 

0% on income up to the tax threshold<br/>
18% on income between the threshold and R205,900<br/>
26% on income between R205,901 and R321,600<br/>
31% on income between R321,601 and R445,100<br/>
36% on income between R445,101 and R584,200<br/>
39% on income between R584,201 and R744,800<br/>
41% on income between R744,801 and R1,577,300<br/>
45% on income above R1,577,301<br/>

Annual Tax Rebate: R14958<br/>
Annual Tax Threshold: R87300

<b>Example</b>
<p style="color:blue">Assumptions:</p>

Monthly salary: R25,000
Age: Under 65 years old
No additional deductions or credits for simplicity
Determine the Taxable Income:

<p style="color:blue">Apply Tax Threshold:</p>

Monthly threshold: R87,300 / 12 = R7,275
If the monthly income is below this threshold, there is no income tax payable. In this example, R25,000 > R7,275.

<p style="color:blue">Apply Tax Brackets:</p>

The portion of income up to R205,900 is taxed at 18%.
The portion of income between R205,901 and R321,600 is taxed at 26%.
In this example, the entire income falls within the first bracket (18%).

<p style="color:blue">Tax Calculations:</p>

Tax on the portion of income in the first bracket: R25,000 * 18% = R4,500
Determine Rebates:

<p style="color:blue">Apply Tax Rebate:</p>

Monthly rebate: R14,958 / 12 = R1,246.50

Subtract the rebate from the tax calculated:

Net Tax: R4,500 - R1,246.50 = <b style="color:red">R3,253.50</b>

<b>Question 3</b><br/><br/>
Given the Students Table in the Students database, generate a result set with the following columns and requirements:
<ul>
    <li>Name: Must have not leading or trailing space - First letter must be in upper case</li>
    <li>Surname: Must have no leading or trailing spaces - First letter must be in upper case</li>
    <li><b>IDNumber</b>: Remove any spurious symbol and keep only records with valid SAID Numbers</li>
    <li><b>BirthDay</b>: Derive from the ID Number</li>
    <li><b>BirthMonth</b>: Derive from the ID Number</li>
    <li><b>BirthYear</b>: Derive from the ID Number</li>
    <li><b>Gender</b>: Derive from the ID Number</li>
    <li><b>Citizenship</b>: Derive from ID number (SA citizen or Permanent resident)</li>
</ul>

Save the newly retrieved data into an excel sheet. Hint: Use Pandas export.

<img src="../media/sa_id.png" width="500px"/>

In [25]:
%%sql
sqlite:///staff_db.db