In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

<h1>Database 1: Sales_db</h1>

<img src="../media/sales_erd.png" width="500px"/>

<h2>I. Join and Set Operators</h2>

<b>Question 1</b>

Given the sales_db database of a cellular device shop, you are requested to write SQL queries to extract 
data as per management requests.

1. Load the SQL lite database and display all the tables within

In [8]:
%%sql
sqlite:///sales_db.db

<b>Question 2</b><br/><br/>
Retrieve a list of all customers along with their respective invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   
SELECT customer_list.name, customer_list.surname, invoice.invoice_id, invoice.date
FROM customer_list
INNER JOIN invoice ON customer_list.id = invoice.cust_id;


</details>

<b>Question 3 </b><br/>
List all product names and quantities ordered in invoice

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   
SELECT prd_list.name, invoice_details.qty
FROM prd_list
INNER JOIN invoice_details ON prd_list.id = invoice_details.prd_id;



</details>

<b>Question 4 </b><br/>
Show customer names, product names, and quantities for all orders

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   
SELECT customer_list.name, prd_list.name AS product_name, invoice_details.qty
FROM customer_list
INNER JOIN invoice ON customer_list.id = invoice.cust_id
INNER JOIN invoice_details ON invoice.invoice_id = invoice_details.inv_id
INNER JOIN prd_list ON prd_list.id = invoice_details.prd_id;




</details>

<b>Question 5 </b><br/><br/>
Use EXCEPT to find customers who have not placed any orders

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   
SELECT name, surname
FROM customer_list
EXCEPT
SELECT customer_list.name, customer_list.surname
FROM customer_list
INNER JOIN invoice ON customer_list.id = invoice.cust_id;





</details>

<b>Question 6 </b><br/><br/>
Use LEFT JOIN to find customers who have not placed any orders

<h2>II. Views</h2>

<b>Question 1</b><br/><br/>
Create a view named invoice_details_summary that includes invoice_id, product_name, and quantity

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW invoice_details_summary AS
SELECT i.invoice_id, p.name AS product_name, id.qty
FROM invoice_details id
INNER JOIN prd_list p ON id.prd_id = p.id
INNER JOIN invoice i ON id.inv_id = i.invoice_id;

</details>

<b>Question 2</b><br/><br/>
Create a view named high_priced_products that includes the names of products with a price greater than the average

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW high_priced_products AS
SELECT name FROM prd_list WHERE price > 100;

</details>

<b>Question 3</b><br/><br/>
Create a view named customer_invoices that displays customer names along with the total number of invoices they have.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW customer_invoices AS
SELECT c.name, COUNT(i.invoice_id) AS total_invoices
FROM customer_list c
LEFT JOIN invoice i ON c.id = i.cust_id
GROUP BY c.name;
</details>

<b>Question 4</b><br/><br/>
Create a view named product_sales_monthly that shows product names and the total quantity sold each month

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW product_sales_monthly AS
SELECT p.name, MONTH(i.date) AS month, SUM(id.qty) AS total_quantity_sold
FROM prd_list p
LEFT JOIN invoice_details id ON p.id = id.prd_id
LEFT JOIN invoice i ON id.inv_id = i.invoice_id
GROUP BY p.name, MONTH(i.date);

</details>

<h2>III. CTEs</h2>

<b>Question 1</b><br/><br/>
 Create a CTE to list all customers along with their total number of invoices

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
WITH CTE_CustomerInvoices AS (
  SELECT cust_id, COUNT(invoice_id) AS Total_Invoices
  FROM invoice
  GROUP BY cust_id
)
SELECT customer_list.name, customer_list.surname, CTE_CustomerInvoices.Total_Invoices
FROM CTE_CustomerInvoices
INNER JOIN customer_list ON customer_list.id = CTE_CustomerInvoices.cust_id;


</details>

<b>Question 2</b><br/><br/>
 Create a CTE to show customers who have spent more than a specified amount (i.e. R1000) on invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
WITH CTE_CustomerSpending AS (
  SELECT invoice.cust_id, SUM(invoice_details.qty * prd_list.price) AS Total_Spent
  FROM invoice
  INNER JOIN invoice_details ON invoice.invoice_id = invoice_details.inv_id
  INNER JOIN prd_list ON invoice_details.prd_id = prd_list.id
  GROUP BY invoice.cust_id
)
SELECT customer_list.name, customer_list.surname, CTE_CustomerSpending.Total_Spent
FROM CTE_CustomerSpending
INNER JOIN customer_list ON customer_list.id = CTE_CustomerSpending.cust_id
WHERE CTE_CustomerSpending.Total_Spent > 1000;



</details>

<b>Question 3</b><br/><br/>
Create a CTE to show all products that have never been ordered

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
WITH OrderedProducts AS (
  SELECT DISTINCT prd_id
  FROM invoice_details
)
SELECT prd_list.name, prd_list.price
FROM prd_list
LEFT JOIN OrderedProducts ON prd_list.id = OrderedProducts.prd_id
WHERE OrderedProducts.prd_id IS NULL;




</details>

<b>Question 4</b><br/><br/>
Use a CTE to find products that have been ordered by at least 3 different customers.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
WITH ProductCustomerCount AS (
  SELECT invoice_details.prd_id, COUNT(DISTINCT invoice.cust_id) AS Customer_Count
  FROM invoice_details
  INNER JOIN invoice ON invoice_details.inv_id = invoice.invoice_id
  GROUP BY invoice_details.prd_id
)
SELECT prd_list.name, prd_list.price, ProductCustomerCount.Customer_Count
FROM ProductCustomerCount
INNER JOIN prd_list ON prd_list.id = ProductCustomerCount.prd_id
WHERE ProductCustomerCount.Customer_Count >= 3;





</details>

<b>Question 5</b><br/><br/>
Use nested CTEs to find customers who have ordered at least 5 different products and display their total order value.

Hint: CTE1 - CustomerProduct (i.e. customer and number of distinct product purchases), CTE2 Qualified customer (filter CTE1), write final query

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
WITH CustomerProductCount AS (
  SELECT invoice.cust_id, COUNT(DISTINCT invoice_details.prd_id) AS Unique_Product_Count
  FROM invoice
  INNER JOIN invoice_details ON invoice.invoice_id = invoice_details.inv_id
  GROUP BY invoice.cust_id
),
QualifiedCustomers AS (
  SELECT cust_id
  FROM CustomerProductCount
  WHERE Unique_Product_Count >= 5
),
CustomerOrderValue AS (
  SELECT invoice.cust_id, SUM(invoice_details.qty * prd_list.price) AS Total_Value
  FROM invoice
  INNER JOIN invoice_details ON invoice.invoice_id = invoice_details.inv_id
  INNER JOIN prd_list ON prd_list.id = invoice_details.prd_id
  GROUP BY invoice.cust_id
)
SELECT customer_list.name, customer_list.surname, CustomerOrderValue.Total_Value
FROM CustomerOrderValue
INNER JOIN QualifiedCustomers ON CustomerOrderValue.cust_id = QualifiedCustomers.cust_id
INNER JOIN customer_list ON customer_list.id = CustomerOrderValue.cust_id;

</details>