Please install the following first:

In [ ]:
#pip install sqlalchemy

In [ ]:
#pip install ipython-sql

<h1>Challenge Outline</h1>

<ul>
    <li>Database and Table Creation</li>
    <li>Normalisation</li>
    <li>Views</li>
</ul>

<h1>1. Database and Table Creation</h1>

<b>Question 1</b><br/><br/>
Create an SQLite database named bookstore.db. Hint: %sql sqlite:///bookstore.db

<b>Question 2</b><br/><br/>
Create a table named authors with the following columns:
<ul>
    <li>author_id (auto-incremented primary key)</li>
    <li>author_name (text)</li>
    <li>birth_year (integer)</li>
    <li>country (text)</li>
    <li>email (text)</li>
</ul>
Insert at least three records into the authors table.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE TABLE IF NOT EXISTS authors (<br/>
    author_id INTEGER PRIMARY KEY AUTOINCREMENT,<br/>
    author_name TEXT NOT NULL,<br/>
    birth_year INTEGER,<br/>
    country TEXT,<br/>
    email TEXT<br/>
);<br/>
</details>

<b>Question 3</b><br/><br/>
Create a table named books with the following columns:
<ul>
    <li>book_id (auto-incremented primary key)</li>
    <li>title (text)</li>
    <li>author_id (integer, foreign key referencing authors table)</li>
    <li>publication_year (integer)</li>
    <li>price (real)</li>
    </ul>
    
Insert at least five records into the books table, referencing authors from the authors table.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE TABLE IF NOT EXISTS books (<br/>
    book_id INTEGER PRIMARY KEY AUTOINCREMENT,<br/>
    title TEXT NOT NULL,<br/>
    author_id INTEGER,<br/>
    publication_year INTEGER,<br/>
    price REAL,<br/>
    FOREIGN KEY (author_id) REFERENCES authors(author_id)<br/>
);
</details>

<b>Question 4</b><br/><br/>
Create a table named book_sales with the following columns:
<ul>
    <li>sale_id (auto-incremented primary key)</li>
    <li>book_id (integer)</li>
    <li>sale_date (text or date)</li>
    <li>quantity_sold (integer)</li>
    <li>total_revenue (real)</li>
    </ul>
    
Use a single <b>INSERT INTO ... SELECT</b> statement to insert data into the book_sales table by joining the books and authors tables to get the necessary information. <b>Note: Five copies for each products where purchased today.</b>

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE TABLE IF NOT EXISTS book_sales (<br/>
    sale_id INTEGER PRIMARY KEY AUTOINCREMENT,<br/>
    book_id INTEGER,<br/>
    sale_date TEXT,<br/>
    quantity_sold INTEGER,<br/>
    total_revenue REAL<br/>
);<br/><br/>
        
   INSERT INTO book_sales (book_id, sale_date, quantity_sold, total_revenue)<br/>
SELECT books.book_id, strftime('%Y-%m-%d', 'now'), 5, (5 * price)<br/>
FROM books<br/>
JOIN authors ON books.author_id = authors.author_id;<br/>

</details>

<h1>2. Normalisation Problems</h1>

<b>Scenario 1</b>

<img src="../media/normalisation_school_problem.png"/>

<b>Scenario 2</b>

<img src="../media/school_normalisation_2.png"/>

<h1>3. Views Practice Problems</h1>

Given the sales_db database of a cellular device shop, you are requested to create SQL views to extract 
data as per management requests.

<img src="../media/sales_erd.png" width="500px"/>

In [1]:
%load_ext sql

In [4]:
%%sql
sqlite:///../sales_db.db

In [5]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///../sales_db.db
   sqlite:///sales_db.db
Done.

[('customer_list',),
 ('sqlite_sequence',),
 ('prd_list',),
 ('invoice',),
 ('invoice_details',)]

<b>Question 1</b><br/><br/>
Create a view named invoice_details_summary that includes invoice_id, product_name, and quantity

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW invoice_details_summary AS
SELECT i.invoice_id, p.name AS product_name, id.qty
FROM invoice_details id
INNER JOIN prd_list p ON id.prd_id = p.id
INNER JOIN invoice i ON id.inv_id = i.invoice_id;

</details>

<b>Question 2</b><br/><br/>
Create a view named high_priced_products that includes the names of products with a price greater than the average

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW high_priced_products AS
SELECT name FROM prd_list WHERE price > 100;

</details>

<b>Question 3</b><br/><br/>
Create a view named customer_invoices that displays customer names along with the total number of invoices they have.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW customer_invoices AS
SELECT c.name, COUNT(i.invoice_id) AS total_invoices
FROM customer_list c
LEFT JOIN invoice i ON c.id = i.cust_id
GROUP BY c.name;
</details>

<b>Question 4</b><br/><br/>
Create a view named product_sales_monthly that shows product names and the total quantity sold each month

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   CREATE VIEW product_sales_monthly AS
SELECT p.name, MONTH(i.date) AS month, SUM(id.qty) AS total_quantity_sold
FROM prd_list p
LEFT JOIN invoice_details id ON p.id = id.prd_id
LEFT JOIN invoice i ON id.inv_id = i.invoice_id
GROUP BY p.name, MONTH(i.date);

</details>