Please install the following first:

In [1]:
#pip install sqlalchemy

In [2]:
#pip install ipython-sql

<h1>SQL Practice Exercises</h1>

Given the sales_db database of a cellular device shop, you are requested to write SQL queries to extract 
data as per management requests.

<img src="media/sales_erd.png" width="500px"/>

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%%sql
sqlite:///sales_db.db

<b> Question 1</b><br/><br/>
Write a SQLite command to view the list of tables in your database.
Hint: SELECT name FROM sqlite_master WHERE type='table'

<b>Question 2</b><br/><br/>
Write SQLite commands to view the structure of each tables in the database. Hint: PRAGMA table_info(xxx)

<b>Question 3</b><br/><br/>
Retrieve the names and prices of all products from the prd_list table.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
   SELECT name,price FROM prd_list
</details>

<b>Question 4</b><br/><br/>
How many invoices are they in the database?

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT COUNT(*) AS 'number of invoices' FROM invoice;
</details>

<b>Question 5</b><br/><br/>
List all invoices with their associated customer names.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 6</b><br/><br/>
Find the customers (with no duplicates) who have made a purchase (appear in the invoice table).

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT DISTINCT c.* FROM customer_list AS c INNER JOIN invoice ON invoice.cust_id = c.id
</details>

<b>Question 7</b><br/><br/>
Retrieve the customer fullnames who have not made any purchases.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT c.* FROM customer_list AS c WHERE c.id NOT IN (SELECT invoice_id FROM invoice)
</details>

<b>Question 8</b><br/><br/>
Find the total revenue generated from all invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
        SELECT SUM(invoice_details.qty*prd_list.price) AS 'total revenue' FROM invoice_details JOIN prd_list ON invoice_details.prd_id = prd_list.id
</details>

<b>Question 9</b><br/><br/>
List the customers who made a purchase between June and July.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 10</b><br/><br/>
Retrieve the product name, quantity, and total price for each invoice.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 11</b><br/><br/>
List the customers along with the total number of invoices they have.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 12</b><br/><br/>
Find the products that have never been sold.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 13</b><br/><br/>
Retrieve the customers who have purchased at least 3 products

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 14</b><br/><br/>
Get the invoice details for the top 5 highest revenue-generating invoices.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 15</b><br/><br/>
Get the details and sales amount for the top 5 highest revenue-generating products.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 16</b><br/><br/>
Retrieve the names of customers who have not made a purchase using EXCEPT.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 17</b><br/><br/>
List the products that have never been purchased and those with a price greater than R1000.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 18</b><br/><br/>
Get the product names and prices for products with a price greater than the average price of all products.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 19</b><br/><br/>
Retrieve the names of customers who made a purchase and have an email.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>

<b>Question 20</b><br/><br/>
Get the fullnames of customers who have made a purchase of a product with a price greater than 2000.

<details style="color:blue">
    <summary>Click to reveal the <b>answer<b/></summary>

  **Answer:**
</details>